<a href="https://colab.research.google.com/github/sakuronohana/cas_datenanalyse/blob/master/Semesterarbeit/CAS_DA_SA_Payment_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img 
src="https://www.ffhs.ch/templates/ffhs/img/logo@2x.png" width="100"> 
###DaAn, Data Analysis, MAS/CAS Web4B 2018, ZH1, FS19, Dr. Tödtli Beat###

##*Semesterarbeit von Patrik Di Lena*##
#Betrugserkennung Zahlungsverkehr#

##Ziel##
Auf der Grundlage von maschinellen Lernalgorithmen soll ein Betrugserkennungssystem für den Zahlungsverkehr einer ausschliesslich in der Schweiz tätigen Bank erstellt werden. Auf Basis historisierter Daten in Bezug auf das E-Banking Session- und Zahlungsverhalten von Bankkunden sollen mögliche Betrugsintensionen erkannt und für bestimmte Risikogruppen vorhergesagt werden.

##Aufgabenstellung##

Aus dem oben formulierten Ziel ergeben sich zwei wesentliche Aufgabenstellungen:
1.	Erkennung betrügerischer Handlungen im Zahlungsverkehr
2.	Ermittlung potenzieller Kundenrisikogruppen

##Betrugsanfällige Risikogruppen##
Die für den Betrug im Zahlungsverkehr anfälligen Gruppen werden auf Basis der folgenden Merkmale durch den Lernalgorithmus bestimmt:

*	Geschlecht
*	Alter
*	Zivilstand
*	Nationalität
*	Kontosaldo
*	Wohnort
*	Region
*	Zahlungsmethode (E-Rechnung, Einzahlungsschein etc.)
*	Rechtsform (Juristisch oder natürliche Person)

## Datensatz##
Die im Rahmen dieser Semesterarbeit verwendeten Daten entstammen, von ihrer Datenstruktur her, aus einem bereits eingesetzten nicht ML-basierten E-Banking Betrugserkennungssystem. Die Datenwerte wurde zu Wahrung der datenschutzrechtlichen und bankengesetzlichen Aspekte mit Hilfe des folgenden Python-Scripts künstlich erzeugt und beinhalten somit keine reale Zahlungs-, Kunden-, und betrugsspezifischen Informationen. Weiter wurden einige durch die Bank definierten Spezifikationen bzw. Merkmale aus sicherheitstechnischen Gründen umbenannt.  

Datenselektion:

- 5'000 synthetische Kunden (Vorname, Name, Strasse, Ort, Kanton, Sprachregion, Geschlecht, Alter, Zivilstand,  Nationalität, Kontonummer, Vertragsnummer, Rechtsform )

- 100'000 synthetische Zahlungen (Transaktionsid, ,Erstellungdatum/Zeit, Empfängerkonto, Empfängerbank, Empfängerland, Währung, Betrag, Valuta Datum)

###Datengeneratoren###

Während die Stammdaten hauptsächlich im Excel manuell von verschiedenen Quellen 

Datenquellen:

Open Government Data https://opendata.swiss/de/

###IBAN Generator###

In [107]:
# IBAN Generator

import datetime
import numpy as np
import pandas as pd

# Datenquellen Github
ibandb_url = 'https://raw.githubusercontent.com/sakuronohana/cas_datenanalyse/master/Semesterarbeit/Dataset/iban_list.csv'

# IBAN Generator in elektronischer Form

iban_cc = pd.read_csv(ibandb_url, delimiter=';')
iban_cc.columns=['Country','Code','Checkdig','Length','Sample','Bank']

# IBAN Gen. 1.Teil - Erstellung IBAN Länder- und Bankencode
code = np.random.choice(np.ravel(iban_cc['Code']).astype(str))
checkdig = np.random.choice(np.ravel(iban_cc['Checkdig']).astype(str))
iban_country_code = code + checkdig
iban_bank_code = np.random.choice((iban_cc.loc[iban_cc['Code'] == code])['Length']).astype(str)
iban_ccbc = iban_country_code + "00" + iban_bank_code 

# IBAN Gen. 2.Teil - Erstellung Kontonummer und Zusammensetzung der IBAN
eiban = []
for row in range(20):
    part_eiban = pd.DataFrame(np.int64(np.random.randint(2000000000000,3000000000000,20800)))
    eiban = iban_ccbc + part_eiban.astype(str)

# Zufällige Auswahl einer IBAN aus dem generierten Datensatz
eiban = np.ravel(eiban)
eiban = np.random.choice(eiban)
print (eiban)

LC7200322800994985921

###Payment Generator###

In [19]:
# Erstellung von Transaktionsdaten 

from datetime import datetime, timedelta
import numpy as np
import pandas as pd

# Bankbeziehungsdaten Datenquellen Github
ibandb_url = 'https://raw.githubusercontent.com/sakuronohana/cas_datenanalyse/master/Semesterarbeit/Dataset/iban_list.csv'

# IBAN Generator in elektronischer Form

iban_cc = pd.read_csv(ibandb_url, delimiter=';')
iban_cc.columns=['Country','Code','Checkdig','Length','IBAN','Bank']

# IBAN Gen. 1.Teil - Erstellung IBAN Länder- und Bankencode
code = np.random.choice(np.ravel(iban_cc['Code']).astype(str))
checkdig = np.random.choice(np.ravel(iban_cc['Checkdig']).astype(str))
iban_country_code = code + checkdig
iban_bank_code = np.random.choice((iban_cc.loc[iban_cc['Code'] == code])['Length']).astype(str)
iban_ccbc = iban_country_code + "00" + iban_bank_code 


# IBAN Gen. 2.Teil - Erstellung Kontonummer und Zusammensetzung der IBAN
eiban = []
for row in range(20):
    part_eiban = pd.DataFrame(np.int64(np.random.randint(2000000000000,3000000000000,20800)))
    eiban = iban_ccbc + part_eiban.astype(str)

# Zufällige Auswahl einer IBAN aus dem generierten Datensatz
eiban = np.ravel(eiban)
eiban = np.random.choice(eiban)

# Betrugseinstufung 
fraud_ids = [[0,'No Fraud'],[1,'External Caused Fraud (e.g. Trojans)'],[2,'Internal Caused Fraud (e.g. Employee)']]
df_fraud = pd.DataFrame(fraud_ids, columns=['Fraud ID', 'Description'])
print (df_fraud)


# Bankkunden Stammdaten - Datenquellen Github
custdb_url = 'https://raw.githubusercontent.com/sakuronohana/cas_datenanalyse/master/Semesterarbeit/Dataset/cutomer_base_data.csv'

cust_data = pd.read_csv(custdb_url, delimiter=';')
cust_data.columns=['anrede','vorname','nachname','strasse','nr','plz','ort',
                   'kanton','sprachregion',	'nation',	'sexcode','mobile_nr',	
                   'vertrag_nr','konto_nr','auth_device']

# Importierte Kundendaten bereinigen
cust_data = cust_data.fillna(0)
cust_data_dtype = {'plz':int,'mobile_nr':int,'vertrag_nr':int}
cust_data = cust_data.astype(cust_data_dtype)

# Zufallsauswahl Kundendaten mittels Vetragsnummer
cd_contract = np.random.choice(np.ravel(cust_data['vertrag_nr']))


# Erstellung der Zahlungs-Basisinformationen 

#start_date = datetime(2018,1,1,8,0,0)
trx_data = pd.DataFrame(columns=['timestamp','paym_id','send_bc_nr','amount',
                                 'rcv_bc_nr','rcv_bc_iban','rcv_bc_country','rcv_bc_code',
                                 'valuta_date','cust_vertrag_nr','cust_konto_nr',
                                 'cust_vname','cust_nname','cust_plz','cust_ort',
                                'cust_kanton','cust_sprachregion','cust_auth_device'])

for i in range(30):
    trx_data.loc[i,['timestamp']] = timestamps = pd.Timestamp(datetime(2018,1,1,8,0,0)+timedelta(seconds=30*i)).strftime("%Y.%m.%d %H:%M")
    trx_data.loc[i,['paym_id']] =  np.int64(np.random.randint(1000000000000,2000000000000,1))
    trx_data.loc[i,['send_bc_nr']] =  'CHBANK71XXX'
    trx_data.loc[i,['amount']] = np.int64(np.random.randint(100,100000,1)).astype(str)
    trx_data.loc[i,['rcv_bc_nr']] = bc_bank = np.random.choice(np.ravel(iban_cc['Bank']).astype(str))
    trx_data.loc[i,['rcv_bc_iban']] = np.ravel(iban_cc.loc[iban_cc['Bank'] == bc_bank,['IBAN']])
    trx_data.loc[i,['rcv_bc_country']] = np.ravel(iban_cc.loc[iban_cc['Bank'] == bc_bank,['Country']])
    trx_data.loc[i,['rcv_bc_code']] = np.ravel(iban_cc.loc[iban_cc['Bank'] == bc_bank,['Code']])
    timestamps = datetime.strptime(timestamps,"%Y.%m.%d %H:%M")
    trx_data.loc[i,['valuta_date']] = valuta = timestamps + timedelta(hours=12*i)
    trx_data.loc[i,['cust_vertrag_nr']] = cd_contract = np.random.choice(np.ravel(cust_data['vertrag_nr']))
    trx_data.loc[i,['cust_konto_nr']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['konto_nr']])
    trx_data.loc[i,['cust_vname']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['vorname']])
    trx_data.loc[i,['cust_nname']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['nachname']])
    trx_data.loc[i,['cust_plz']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['plz']])
    trx_data.loc[i,['cust_ort']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['ort']])
    trx_data.loc[i,['cust_kanton']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['kanton']])
    trx_data.loc[i,['cust_sprachregion']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['sprachregion']])
    trx_data.loc[i,['cust_auth_device']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['auth_device']])
    
trx_data.head(30)

   Fraud ID                            Description
0         0                               No Fraud
1         1   External Caused Fraud (e.g. Trojans)
2         2  Internal Caused Fraud (e.g. Employee)

,timestamp,paym_id,send_bc_nr,amount,rcv_bc_nr,rcv_bc_iban,rcv_bc_country,rcv_bc_code,valuta_date,cust_vertrag_nr,cust_konto_nr,cust_vname,cust_nname,cust_plz,cust_ort,cust_kanton,cust_sprachregion,cust_auth_device
0,2018.01.01 08:00,1777251841184,CHBANK71XXX,45605,FOBANK26XXX,FO1291810001441878,Färöer Inseln,FO,2018-01-01 08:00:00,79989,CH5300772102838619026,Maria,Casanova,6246,Altishofen,LU,de,ptan
1,2018.01.01 08:00,1047671213735,CHBANK71XXX,88392,SKBANK74XXX,SK0202000000003679748552,Slowakische Republik,SK,2018-01-01 20:00:00,73003,CH5300772567106670099,Ursula,Altermatt,6020,Emmenbrücke,LU,de,ptan
2,2018.01.01 08:01,1372353014798,CHBANK71XXX,87102,IQBANK35XXX,IQ20CBIQ861800101010500,Irak,IQ,2018-01-02 08:01:00,67620,CH5300772047812608661,Laura,Allegranza,6206,Neuenkirch,LU,de,ptan
3,2018.01.01 08:01,1279511949753,CHBANK71XXX,59525,ALBANK11XXX,AL06202111090000000005012075,Albanien,AL,2018-01-02 20:01:00,69274,CH5300772074490915186,Romain,Martinet,1220,Les Avanchets,GE,fr,ptan
4,2018.01.01 08:02,1913487005475,CHBANK71XXX,48559,ESBANK76XXX,ES1321000555370200853027,Spanien,ES,2018-01-03 08:02:00,75637,CH5300772305283524967,Brigitte,Hellinger,9053,Teufen AR,AR,de,mtan
5,2018.01.01 08:02,1664077756836,CHBANK71XXX,94950,NOBANK59XXX,NO0239916835985,Norwegen,NO,2018-01-03 20:02:00,84261,CH5300772403175818518,Monika,Meier,6045,Meggen,LU,de,ptan
6,2018.01.01 08:03,1787726988006,CHBANK71XXX,68949,KZBANK41XXX,KZ04319C010005569698,Kasachstan,KZ,2018-01-04 08:03:00,73277,CH5300772170967273656,Elisabeth,Veglio,6206,Neuenkirch,LU,de,ptan
7,2018.01.01 08:03,1505251492236,CHBANK71XXX,27232,JOBANK40XXX,JO02SCBL1260000000018525836101,Jordanien,JO,2018-01-04 20:03:00,74522,CH5300772575388245538,Sandra,Graf,9056,Gais,AR,de,ptan
8,2018.01.01 08:04,1008334571879,CHBANK71XXX,9363,GIBANK30XXX,GI04BARC020452163087000,Gibraltar,GI,2018-01-05 08:04:00,77576,CH5300772932215962213,Silvia,Beretta,6196,Marbach LU,LU,de,ptan
9,2018.01.01 08:04,1336312603642,CHBANK71XXX,77616,IEBANK36XXX,IE02BOFI90008413113207,Irland,IE,2018-01-05 20:04:00,77170,CH5300772964304790703,Giulia,Müller,6144,Zell LU,LU,de,ptan
10,2018.01.01 08:05,1076418139481,CHBANK71XXX,51558,PKBANK61XXX,PK02SCBL0000001925518401,Pakistan,PK,2018-01-06 08:05:00,66959,CH5300772237219480798,Christian,Escher,5033,Buchs AG,AG,de,mtan
11,2018.01.01 08:05,1250464626468,CHBANK71XXX,45187,HUBANK82XXX,HU02116000060000000064247067,Ungarn,HU,2018-01-06 20:05:00,70718,CH5300772150474146245,Michael,Accola,6264,Pfaffnau,LU,de,ptan
12,2018.01.01 08:06,1866325062105,CHBANK71XXX,44363,ADBANK12XXX,AD1000060004451247870930,Andorra,AD,2018-01-07 08:06:00,70600,CH5300772233806946395,Franz,Küng,6044,Udligenswil,LU,de,ptan
13,2018.01.01 08:06,1672176670990,CHBANK71XXX,62167,TRBANK78XXX,TR020001000201529153355002,Türkei,TR,2018-01-07 20:06:00,69892,CH5300772829832375272,Elisabeth,Demir,6005,Luzern,LU,de,ptan
14,2018.01.01 08:07,1709522075201,CHBANK71XXX,83647,GTBANK34XXX,GT24CITI01010000000004146026,Guatemala,GT,2018-01-08 08:07:00,77051,CH5300772179923890438,Andrea,Brunner,6102,Malters,LU,de,ptan
15,2018.01.01 08:07,1146558702095,CHBANK71XXX,80739,ROBANK65XXX,RO02BRDE445SV75163474450,Rumänien,RO,2018-01-08 20:07:00,71097,CH5300772375087575243,Ruth,Müller,6353,Weggis,LU,de,ptan
16,2018.01.01 08:08,1209691051527,CHBANK71XXX,99522,PTBANK64XXX,PT50003600409911001102673,Portugal,PT,2018-01-09 08:08:00,65659,CH5300772772184269360,Sandra,Arnold,6130,Willisau,LU,de,ptan
17,2018.01.01 08:08,1792453954142,CHBANK71XXX,92316,PSBANK62XXX,PS06ARAB000000009040781605610,Palästina,PS,2018-01-09 20:08:00,67904,CH5300772969607100218,Kurt,Jäggi,6015,Luzern,LU,de,mtan
18,2018.01.01 08:09,1743352346108,CHBANK71XXX,28639,NLBANK58XXX,NL02ABNA0457180536,Niederlande,NL,2018-01-10 08:09:00,65777,CH5300772308613670084,Thomas,Süess,6030,Ebikon,LU,de,ptan
19,2018.01.01 08:09,1771539333523,CHBANK71XXX,3258,BABANK16XXX,BA391011606058553319,Bosnien und Herzegowina,BA,2018-01-10 20:09:00,70051,CH5300772913348656134,Peter,Lustenberger,6142,Gettnau,LU,de,ptan
20,2018.01.01 08:10,1792819780600,CHBANK71XXX,59655,ISBANK37XXX,IS040116381002305610911109,Island,IS,2018-01-11 08:10:00,72502,CH5300772036322453126,Marianne,Thönen,5000,Aarau,AG,de,mtan
21,2018.01.01 08:10,1672043936998,CHBANK71XXX,6249,PLBANK63XXX,PL02103000190109780401676562,Polen,PL,2018-01-11 20:10:00,75137,CH5300772164677666220,Marianne,Salvett,6285,Hitzkirch,LU,de,ptan
22,2018.01.01 08:11,1686598437708,CHBANK71XXX,8070,SEBANK70XXX,SE0230000000030301099952,Schweden,SE,2018-01-12 08:11:00,65452,CH5300772028385319549,Andrea,Odermatt,6162,Entlebuch,LU,de,ptan
23,2018.01.01 08:11,1731511107018,CHBANK71XXX,34363,TNBANK80XXX,TN5901026067111999766058,Tunesien,TN,2018-01-12 20:11:00,66965,CH5300772426523881200,Michael,Meister,9043,Trogen,AR,de,ptan
24,2018.01.01 08:12,1062008549073,CHBANK71XXX,74857,DKBANK21XXX,DK0220005036459478,Dänemark,DK,2018-01-13 08:12:00,79592,CH5300772359153377595,Marco,Büeler,6166,Hasle LU,LU,de,mtan
25,2018.01.01 08:12,1474248788133,CHBANK71XXX,17814,MDBANK55XXX,MD14MO2224ASV41884097100,Moldawien,MD,2018-01-13 20:12:00,76699,CH5300772801733732061,Sandra,Jenal,6287,Aesch LU,LU,de,ptan
26,2018.01.01 08:13,1988223470094,CHBANK71XXX,42874,SABANK69XXX,SA0220000002480647579940,Saudi Arabien,SA,2018-01-14 08:13:00,76191,CH5300772819334526199,Maria,Flückiger,6010,Kriens,LU,de,ptan
27,2018.01.01 08:13,1389664671581,CHBANK71XXX,24104,DOBANK23XXX,DO22BCBH00000000011003290022,Dominikanische Republik,DO,2018-01-14 20:13:00,75613,CH5300772454493083325,Andreas,Giger,6234,Triengen,LU,de,ptan
28,2018.01.01 08:14,1476794243920,CHBANK71XXX,12230,CRBANK20XXX,CR79015202220005614288,Costa Rica,CR,2018-01-15 08:14:00,76224,CH5300772159377545811,Anna,Aebersold,4915,St. Urban,LU,de,ptan
29,2018.01.01 08:14,1415895655862,CHBANK71XXX,2890,LCBANK66XXX,LC55HEMM000100010012001200023015,Saint Lucia,LC,2018-01-15 20:14:00,76667,CH5300772028600303522,Isabelle,Chappuis,1718,Rechthalten,FR,de,ptan

In [149]:


import pandas as pd
from random import randint

df = pd.DataFrame(columns=['A','B','C','D','E'])

for i in range(5): #add 5 rows of data
    df.loc[i, ['A']] = randint(0,99)
    df.loc[i, ['B']] = randint(0,99)
    df.loc[i, ['C']] = randint(0,99)
    df.loc[i, ['D']] = randint(0,99)
    df.loc[i, ['E']] = randint(0,99)
    
df

      A     B     C     D     E
0  82.0  93.0   1.0   5.0   8.0
1   4.0  34.0  45.0  13.0  88.0
2  87.0  41.0  54.0  41.0  43.0
3  81.0  44.0  98.0   3.0  83.0
4  47.0  52.0  20.0  45.0  60.0