<a href="https://colab.research.google.com/github/sakuronohana/cas_datenanalyse/blob/master/Semesterarbeit/CAS_DA_SA_Payment_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img 
src="https://www.ffhs.ch/templates/ffhs/img/logo@2x.png" width="100"> 
###DaAn, Data Analysis, MAS/CAS Web4B 2018, ZH1, FS19, Dr. Tödtli Beat###

##*Semesterarbeit von Patrik Di Lena*##
#Betrugserkennung Zahlungsverkehr#

##Ziel##
Auf der Grundlage von maschinellen Lernalgorithmen soll ein Betrugserkennungssystem für den Zahlungsverkehr einer ausschliesslich in der Schweiz tätigen Bank erstellt werden. Auf Basis historisierter Daten in Bezug auf das E-Banking Session- und Zahlungsverhalten von Bankkunden sollen mögliche Betrugsintensionen erkannt und für bestimmte Risikogruppen vorhergesagt werden.

##Aufgabenstellung##

Aus dem oben formulierten Ziel ergeben sich zwei wesentliche Aufgabenstellungen:
1.	Erkennung betrügerischer Handlungen im Zahlungsverkehr
2.	Ermittlung potenzieller Kundenrisikogruppen

##Betrugsanfällige Risikogruppen##
Die für den Betrug im Zahlungsverkehr anfälligen Gruppen werden auf Basis der folgenden Merkmale durch den Lernalgorithmus bestimmt:

*	Geschlecht
*	Alter
*	Zivilstand
*	Nationalität
*	Kontosaldo
*	Wohnort
*	Region
*	Zahlungsmethode (E-Rechnung, Einzahlungsschein etc.)
*	Rechtsform (Juristisch oder natürliche Person)

## Datensatz##
Die im Rahmen dieser Semesterarbeit verwendeten Daten entstammen, von ihrer Datenstruktur her, aus einem bereits eingesetzten nicht ML-basierten E-Banking Betrugserkennungssystem. Die Datenwerte wurde zu Wahrung der datenschutzrechtlichen und bankengesetzlichen Aspekte mit Hilfe des folgenden Python-Scripts künstlich erzeugt und beinhalten somit keine reale Zahlungs-, Kunden-, und betrugsspezifischen Informationen. Weiter wurden einige durch die Bank definierten Spezifikationen bzw. Merkmale aus sicherheitstechnischen Gründen umbenannt.  

Datenselektion:

- 5'000 synthetische Kunden (Vorname, Name, Strasse, Ort, Kanton, Sprachregion, Geschlecht, Alter, Zivilstand,  Nationalität, Kontonummer, Vertragsnummer, Rechtsform )

- 100'000 synthetische Zahlungen (Transaktionsid, ,Erstellungdatum/Zeit, Empfängerkonto, Empfängerbank, Empfängerland, Währung, Betrag, Valuta Datum)

###Datengeneratoren###

Während die Stammdaten hauptsächlich im Excel manuell von verschiedenen Quellen 

Datenquellen:

Open Government Data https://opendata.swiss/de/

###IBAN Generator###

In [107]:
# IBAN Generator

import datetime
import numpy as np
import pandas as pd

# Datenquellen Github
ibandb_url = 'https://raw.githubusercontent.com/sakuronohana/cas_datenanalyse/master/Semesterarbeit/Dataset/iban_list.csv'

# IBAN Generator in elektronischer Form

iban_cc = pd.read_csv(ibandb_url, delimiter=';')
iban_cc.columns=['Country','Code','Checkdig','Length','Sample','Bank']

# IBAN Gen. 1.Teil - Erstellung IBAN Länder- und Bankencode
code = np.random.choice(np.ravel(iban_cc['Code']).astype(str))
checkdig = np.random.choice(np.ravel(iban_cc['Checkdig']).astype(str))
iban_country_code = code + checkdig
iban_bank_code = np.random.choice((iban_cc.loc[iban_cc['Code'] == code])['Length']).astype(str)
iban_ccbc = iban_country_code + "00" + iban_bank_code 

# IBAN Gen. 2.Teil - Erstellung Kontonummer und Zusammensetzung der IBAN
eiban = []
for row in range(20):
    part_eiban = pd.DataFrame(np.int64(np.random.randint(2000000000000,3000000000000,20800)))
    eiban = iban_ccbc + part_eiban.astype(str)

# Zufällige Auswahl einer IBAN aus dem generierten Datensatz
eiban = np.ravel(eiban)
eiban = np.random.choice(eiban)
print (eiban)

LC7200322800994985921

###Payment Generator###

In [204]:
# Erstellung von Transaktionsdaten 

from datetime import datetime, timedelta
import numpy as np
import pandas as pd

# Bankbeziehungsdaten Datenquellen Github
ibandb_url = 'https://raw.githubusercontent.com/sakuronohana/cas_datenanalyse/master/Semesterarbeit/Dataset/iban_list.csv'

# IBAN Generator in elektronischer Form

iban_cc = pd.read_csv(ibandb_url, delimiter=';')
iban_cc.columns=['Country','Code','Checkdig','Length','IBAN','Bank']

# IBAN Gen. 1.Teil - Erstellung IBAN Länder- und Bankencode
code = np.random.choice(np.ravel(iban_cc['Code']).astype(str))
checkdig = np.random.choice(np.ravel(iban_cc['Checkdig']).astype(str))
iban_country_code = code + checkdig
iban_bank_code = np.random.choice((iban_cc.loc[iban_cc['Code'] == code])['Length']).astype(str)
iban_ccbc = iban_country_code + "00" + iban_bank_code 


# IBAN Gen. 2.Teil - Erstellung Kontonummer und Zusammensetzung der IBAN
eiban = []
for row in range(20):
    part_eiban = pd.DataFrame(np.int64(np.random.randint(2000000000000,3000000000000,20800)))
    eiban = iban_ccbc + part_eiban.astype(str)

# Zufällige Auswahl einer IBAN aus dem generierten Datensatz
eiban = np.ravel(eiban)
eiban = np.random.choice(eiban)

# Betrugseinstufung 
# Kein Fraud ist immer 0
fraud_ids = [[1,'External Caused Fraud (e.g. Trojans)'],[2,'Internal Caused Fraud (e.g. Employee)']]
df_fraud = pd.DataFrame(fraud_ids, columns=['Fraud ID', 'Description'])


# Bankkunden Stammdaten - Datenquellen Github
custdb_url = 'https://raw.githubusercontent.com/sakuronohana/cas_datenanalyse/master/Semesterarbeit/Dataset/cutomer_base_data.csv'

cust_data = pd.read_csv(custdb_url, delimiter=';')
cust_data.columns=['anrede','vorname','nachname','strasse','nr','plz','ort',
                   'kanton','sprachregion',	'nation',	'sexcode','mobile_nr',	
                   'vertrag_nr','konto_nr','auth_device']

# Importierte Kundendaten bereinigen
cust_data = cust_data.fillna(0)
cust_data_dtype = {'plz':int,'mobile_nr':int,'vertrag_nr':int}
cust_data = cust_data.astype(cust_data_dtype)

# Erstellung der Zahlungs-Basisinformationen 

#start_date = datetime(2018,1,1,8,0,0)
trx_data = pd.DataFrame(columns=['timestamp','paym_id','send_bc_nr','amount',
                                 'rcv_bc_nr','rcv_bc_iban','rcv_bc_country','rcv_bc_code',
                                 'valuta_date','cust_vertrag_nr','cust_konto_nr',
                                 'cust_vname','cust_nname','cust_plz','cust_ort',
                                'cust_kanton','cust_sprachregion','cust_auth_device',
                                'fraud_id'])

for i in range(80):
    trx_data.loc[i,['timestamp']] = timestamps = pd.Timestamp(datetime(2018,1,1,8,0,0)+timedelta(seconds=30*i)).strftime("%Y.%m.%d %H:%M")
    trx_data.loc[i,['paym_id']] =  np.int64(np.random.randint(1000000000000,2000000000000,1))
    trx_data.loc[i,['send_bc_nr']] =  'CHBANK71XXX'
    trx_data.loc[i,['amount']] = np.int64(np.random.randint(100,100000,1)).astype(str)
    trx_data.loc[i,['rcv_bc_nr']] = bc_bank = np.random.choice(np.ravel(iban_cc['Bank']).astype(str))
    trx_data.loc[i,['rcv_bc_iban']] = np.ravel(iban_cc.loc[iban_cc['Bank'] == bc_bank,['IBAN']])
    trx_data.loc[i,['rcv_bc_country']] = np.ravel(iban_cc.loc[iban_cc['Bank'] == bc_bank,['Country']])
    trx_data.loc[i,['rcv_bc_code']] = np.ravel(iban_cc.loc[iban_cc['Bank'] == bc_bank,['Code']])
    timestamps = datetime.strptime(timestamps,"%Y.%m.%d %H:%M")
    trx_data.loc[i,['valuta_date']] = valuta = timestamps + timedelta(hours=12*i)
    trx_data.loc[i,['cust_vertrag_nr']] = cd_contract = np.random.choice(np.ravel(cust_data['vertrag_nr']))
    trx_data.loc[i,['cust_konto_nr']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['konto_nr']])
    trx_data.loc[i,['cust_vname']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['vorname']])
    trx_data.loc[i,['cust_nname']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['nachname']])
    trx_data.loc[i,['cust_plz']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['plz']])
    trx_data.loc[i,['cust_ort']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['ort']])
    trx_data.loc[i,['cust_kanton']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['kanton']])
    trx_data.loc[i,['cust_sprachregion']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['sprachregion']])
    trx_data.loc[i,['cust_auth_device']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['auth_device']])
    trx_data.loc[i,['fraud_id']] = 0
    

# Von allen durchgeführten Zahlungen hat das Fraud-Detection System 0.5% Betrugszahlungen erkannt. 
trx_data_fraud = trx_data.sample(frac=0.90)
trx_data_fraud.fraud_id = ''
test = np.random.choice(np.ravel(df_fraud['Fraud ID']).astype(str))


for x in range(len(trx_data_fraud)):
  trx_data_fraud.loc[x,['fraud_id']] = np.random.choice(np.ravel(df_fraud['Fraud ID']).astype(str))
  
trx_data_fraud.head(len(trx_data_fraud))

,timestamp,paym_id,send_bc_nr,amount,rcv_bc_nr,rcv_bc_iban,rcv_bc_country,rcv_bc_code,valuta_date,cust_vertrag_nr,cust_konto_nr,cust_vname,cust_nname,cust_plz,cust_ort,cust_kanton,cust_sprachregion,cust_auth_device,fraud_id
22,2018.01.01 08:11,1471827643262,CHBANK71XXX,51759,ILBANK38XXX,IL020108380000002149431,Israel,IL,2018-01-12 08:11:00,72716,CH5300772857406471904,Anton,Huber,9103,Schwellbrunn,AR,de,mtan,1
74,2018.01.01 08:37,1508374887206,CHBANK71XXX,63562,DOBANK23XXX,DO22BCBH00000000011003290022,Dominikanische Republik,DO,2018-02-07 08:37:00,75948,CH5300772552097684232,Martin,Künzi,5000,Aarau,AG,de,mtan,
77,2018.01.01 08:38,1998757248260,CHBANK71XXX,39369,LBBANK47XXX,LB02001400000302300023018319,Libanon,LB,2018-02-08 20:38:00,66449,CH5300772888934238404,Ursula,Abegglen,5033,Buchs AG,AG,de,ptan,
57,2018.01.01 08:28,1489882618853,CHBANK71XXX,82590,ESBANK76XXX,ES1321000555370200853027,Spanien,ES,2018-01-29 20:28:00,69870,CH5300772081780850523,Matteo,Giovannoni,6702,Claro,TI,it,ptan,1
43,2018.01.01 08:21,1372915309078,CHBANK71XXX,98529,LTBANK49XXX,LT027300010134441147,Litauen,LT,2018-01-22 20:21:00,75420,CH5300772507626925782,Martin,Jeger,6006,Luzern,LU,de,mtan,2
0,2018.01.01 08:00,1768783399353,CHBANK71XXX,19707,MUBANK53XXX,MU03MCBL0901000001879025000USD,Mauritius,MU,2018-01-01 08:00:00,77039,CH5300772217494563095,Barbara,Ehrat,9043,Trogen,AR,de,ptan,2
35,2018.01.01 08:17,1305586533158,CHBANK71XXX,5456,NOBANK59XXX,NO0239916835985,Norwegen,NO,2018-01-18 20:17:00,80497,CH5300772416924671408,Monika,Rutishauser,9104,Waldstatt,AR,de,ptan,2
65,2018.01.01 08:32,1314716461557,CHBANK71XXX,60718,LUBANK50XXX,LU020019175546294000,Luxemburg,LU,2018-02-02 20:32:00,69746,CH5300772892101859086,Ruth,Meier,9035,Grub AR,AR,de,ptan,2
45,2018.01.01 08:22,1076701633023,CHBANK71XXX,66344,GIBANK30XXX,GI04BARC020452163087000,Gibraltar,GI,2018-01-23 20:22:00,77881,CH5300772887644426819,Peter,Tönz,6245,Ebersecken,LU,de,mtan,2
5,2018.01.01 08:02,1424111818602,CHBANK71XXX,25724,VGBANK18XXX,VG48NOSC0000000005002993,Britische Jungferninseln,VG,2018-01-03 20:02:00,75575,CH5300772558726353113,Christian,Cantieni,6280,Hochdorf,LU,de,ptan,2
76,2018.01.01 08:38,1640432262742,CHBANK71XXX,52336,NOBANK59XXX,NO0239916835985,Norwegen,NO,2018-02-08 08:38:00,82636,CH5300772187199546676,Alexandre,Chiarello,1214,Vernier,GE,fr,mtan,
12,2018.01.01 08:06,1972997928282,CHBANK71XXX,4174,ILBANK38XXX,IL020108380000002149431,Israel,IL,2018-01-07 08:06:00,70418,CH5300772125060136386,Thomas,Oberholzer,9410,Heiden,AR,de,ptan,2
42,2018.01.01 08:21,1640378988491,CHBANK71XXX,35196,BABANK16XXX,BA391011606058553319,Bosnien und Herzegowina,BA,2018-01-22 08:21:00,67143,CH5300772312420236396,Martin,Omlin,6102,Malters,LU,de,mtan,1
33,2018.01.01 08:16,1746319479985,CHBANK71XXX,8243,NLBANK58XXX,NL02ABNA0457180536,Niederlande,NL,2018-01-17 20:16:00,77568,CH5300772486527706137,Walter,Hirt,6047,Kastanienbaum,LU,de,ptan,2
20,2018.01.01 08:10,1441600949316,CHBANK71XXX,31336,IEBANK36XXX,IE02BOFI90008413113207,Irland,IE,2018-01-11 08:10:00,79335,CH5300772660007105596,Peter,Menn,6280,Hochdorf,LU,de,mtan,1
63,2018.01.01 08:31,1007373107342,CHBANK71XXX,78901,GBBANK33XXX,GB11CITI18500811417983,Grossbritannien *2,GB,2018-02-01 20:31:00,68854,CH5300772031536947419,Marianne,Gerber,6015,Luzern,LU,de,ptan,2
79,2018.01.01 08:39,1972301039666,CHBANK71XXX,72527,LUBANK50XXX,LU020019175546294000,Luxemburg,LU,2018-02-09 20:39:00,77190,CH5300772811324765463,Ursula,Müller,9055,Bühler,AR,de,ptan,
48,2018.01.01 08:24,1697985620875,CHBANK71XXX,51324,LIBANK48XXX,LI0308800000022875748,Liechtenstein,LI,2018-01-25 08:24:00,66523,CH5300772588202510382,Monika,Campana,6210,Sursee,LU,de,mtan,1
69,2018.01.01 08:34,1519244780524,CHBANK71XXX,12500,MCBANK56XXX,MC2412739000710075018000P14,Monaco,MC,2018-02-04 20:34:00,71493,CH5300772312392171402,Thomas,Müller,6235,Winikon,LU,de,ptan,1
46,2018.01.01 08:23,1112822195263,CHBANK71XXX,15281,FRBANK28XXX,FR7630006000011234567890189,Frankreich,FR,2018-01-24 08:23:00,69050,CH5300772004818536356,Claudia,Huber,6048,Horw,LU,de,ptan,1
30,2018.01.01 08:15,1909687822845,CHBANK71XXX,29013,EEBANK25XXX,EE021700017000459042,Estland,EE,2018-01-16 08:15:00,67028,CH5300772438442071684,Bruno,Giugliemma,6877,Coldrerio,TI,it,ptan,2
41,2018.01.01 08:20,1349847198580,CHBANK71XXX,35139,PKBANK61XXX,PK02SCBL0000001925518401,Pakistan,PK,2018-01-21 20:20:00,70567,CH5300772269697511787,Daniel,Müller,9100,Herisau,AR,de,mtan,2
1,2018.01.01 08:00,1981767865762,CHBANK71XXX,88024,IEBANK36XXX,IE02BOFI90008413113207,Irland,IE,2018-01-01 20:00:00,83865,CH5300772351386625929,Sandra,Turrettini,1470,Estavayer-le-Lac,FR,fr,ptan,1
52,2018.01.01 08:26,1068835714401,CHBANK71XXX,53139,TLBANK77XXX,TL380030000000025923744,Timor-Leste,TL,2018-01-27 08:26:00,76342,CH5300772656654760855,Thomas,Meyer,9043,Trogen,AR,de,mtan,2
7,2018.01.01 08:03,1512335727824,CHBANK71XXX,11117,SVBANK24XXX,SV43ACAT00000000000000123123,El Salvador,SV,2018-01-04 20:03:00,69129,CH5300772160083677228,Antonio,Da Silva,1218,Le Grand-Saconnex,GE,fr,ptan,2
15,2018.01.01 08:07,1129196683271,CHBANK71XXX,8214,SMBANK67XXX,SM07U0854009803000030174419,San Marino,SM,2018-01-08 20:07:00,85614,CH5300772638315202280,Peter,Herzog,6024,Hildisrieden,LU,de,ptan,1
2,2018.01.01 08:01,1836572162188,CHBANK71XXX,65837,DEBANK22XXX,DE02100500000024290661,Deutschland,DE,2018-01-02 08:01:00,79497,CH5300772750440637533,Claudia,Lardi,6294,Ermensee,LU,de,ptan,2
71,2018.01.01 08:35,1360309392587,CHBANK71XXX,80875,MRBANK52XXX,MR1300012000010000009880016,Mauretanien,MR,2018-02-05 20:35:00,81896,CH5300772698657234002,Christian,Bichsel,6014,Luzern,LU,de,mtan,2
14,2018.01.01 08:07,1657179790083,CHBANK71XXX,55330,AZBANK13XXX,AZ04UBAZ04003214540060AZN001,Aserbaidschan,AZ,2018-01-08 08:07:00,84981,CH5300772399938447221,Martin,Debrunner,9100,Herisau,AR,de,ptan,2
27,2018.01.01 08:13,1824003920318,CHBANK71XXX,49715,CYBANK85XXX,CY02002001950000357009822416,Zypern,CY,2018-01-14 20:13:00,69361,CH5300772309376655020,Thomas,Riner,6026,Rain,LU,de,ptan,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,2018.01.01 08:08,1421333701712,CHBANK71XXX,31085,MDBANK55XXX,MD14MO2224ASV41884097100,Moldawien,MD,2018-01-09 20:08:00,78487,CH5300772101602824264,Luca,Bortolas,6174,Sörenberg,LU,de,mtan,1
34,2018.01.01 08:17,1578783143032,CHBANK71XXX,50993,FOBANK26XXX,FO1291810001441878,Färöer Inseln,FO,2018-01-18 08:17:00,84308,CH5300772385678249158,François,Vuagniaux,1215,Genève 15 Aéroport,GE,fr,ptan,2
3,2018.01.01 08:01,1109777320666,CHBANK71XXX,17261,ESBANK76XXX,ES1321000555370200853027,Spanien,ES,2018-01-02 20:01:00,76906,CH5300772409029493204,Walter,Schneider,5000,Aarau,AG,de,ptan,1
23,2018.01.01 08:11,1047157846583,CHBANK71XXX,82980,MRBANK52XXX,MR1300012000010000009880016,Mauretanien,MR,2018-01-12 20:11:00,84944,CH5300772181741150037,Michael,Känzig,6014,Luzern,LU,de,mtan,2
75,2018.01.01 08:37,1260715301885,CHBANK71XXX,78648,BEBANK15XXX,BE45096920886089,Belgien,BE,2018-02-07 20:37:00,67955,CH5300772430508580727,Ruth,Keller,6032,Emmen,LU,de,ptan,
50,2018.01.01 08:25,1666005917864,CHBANK71XXX,54216,GTBANK34XXX,GT24CITI01010000000004146026,Guatemala,GT,2018-01-26 08:25:00,70294,CH5300772796806295306,Ruth,Furrer,9100,Herisau,AR,de,ptan,1
31,2018.01.01 08:15,1030957760019,CHBANK71XXX,99667,MEBANK57XXX,ME25505120000000466170,Montenegro,ME,2018-01-16 20:15:00,72405,CH5300772738413566551,Sandra,Zulliger,6020,Emmenbrücke,LU,de,ptan,2
53,2018.01.01 08:26,1463277879315,CHBANK71XXX,82183,BHBANK14XXX,BH02CITI00001077181611,Bahrain,BH,2018-01-27 20:26:00,70306,CH5300772198393844491,Anita,Schmid,9410,Heiden,AR,de,ptan,1
73,2018.01.01 08:36,1375318690317,CHBANK71XXX,28211,NOBANK59XXX,NO0239916835985,Norwegen,NO,2018-02-06 20:36:00,83500,CH5300772705648644154,Alexandre,Lavergnat,1652,Botterens,FR,fr,ptan,
39,2018.01.01 08:19,1680745648549,CHBANK71XXX,13241,FRBANK28XXX,FR7630006000011234567890189,Frankreich,FR,2018-01-20 20:19:00,79988,CH5300772973890626188,Peter,Betschart,6167,Bramboden,LU,de,mtan,1
72,2018.01.01 08:36,1908123902493,CHBANK71XXX,64319,LVBANK46XXX,LV02HABA0551007820897,Lettland,LV,2018-02-06 08:36:00,67083,CH5300772606742403639,Nicole,Pittet,1224,Chêne-Bougeries,GE,fr,ptan,
8,2018.01.01 08:04,1851040912739,CHBANK71XXX,53082,ESBANK76XXX,ES1321000555370200853027,Spanien,ES,2018-01-05 08:04:00,72408,CH5300772711557911539,Christine,Hasler,1206,Genève,GE,fr,ptan,2
11,2018.01.01 08:05,1506708481996,CHBANK71XXX,35765,LUBANK50XXX,LU020019175546294000,Luxemburg,LU,2018-01-06 20:05:00,83745,CH5300772648867090842,Thomas,Schneider,6353,Weggis,LU,de,mtan,1
37,2018.01.01 08:18,1505242805217,CHBANK71XXX,32101,LUBANK50XXX,LU020019175546294000,Luxemburg,LU,2018-01-19 20:18:00,80414,CH5300772288050723761,Monica,Bianda,6196,Marbach LU,LU,de,ptan,1
64,2018.01.01 08:32,1809661255251,CHBANK71XXX,48946,RSBANK72XXX,RS35105008054113238018,Serbien,RS,2018-02-02 08:32:00,65489,CH5300772816064667748,Maria,Dünser,6253,Uffikon,LU,de,ptan,2
40,2018.01.01 08:20,1537326969350,CHBANK71XXX,9586,PKBANK61XXX,PK02SCBL0000001925518401,Pakistan,PK,2018-01-21 08:20:00,85666,CH5300772944095050202,Antonio,Setz,6043,Adligenswil,LU,de,ptan,2
32,2018.01.01 08:16,1284189316415,CHBANK71XXX,34789,ESBANK76XXX,ES1321000555370200853027,Spanien,ES,2018-01-17 08:16:00,76097,CH5300772891302191703,Judith,Schmid,5000,Aarau,AG,de,mtan,2
70,2018.01.01 08:35,1615909047553,CHBANK71XXX,11864,HRBANK44XXX,HR0223400093216312031,Kroatien,HR,2018-02-05 08:35:00,79785,CH5300772383609293202,Maria,Siegrist,6020,Emmenbrücke,LU,de,mtan,1
60,2018.01.01 08:30,1063982050372,CHBANK71XXX,23203,SABANK69XXX,SA0220000002480647579940,Saudi Arabien,SA,2018-01-31 08:30:00,85361,CH5300772197613725609,Monika,Meier,6102,Malters,LU,de,ptan,2
68,2018.01.01 08:34,1701419643724,CHBANK71XXX,48516,PLBANK63XXX,PL02103000190109780401676562,Polen,PL,2018-02-04 08:34:00,82550,CH5300772588805594945,Thomas,Schaller,6110,Wolhusen,LU,de,ptan,1
29,2018.01.01 08:14,1320030956182,CHBANK71XXX,43138,XKBANK43XXX,XK051301001002074155,Kosovo,XK,2018-01-15 20:14:00,76940,CH5300772503069216619,Christian,Köppel,6003,Luzern,LU,de,mtan,1
44,2018.01.01 08:22,1969387724154,CHBANK71XXX,17318,SABANK69XXX,SA0220000002480647579940,Saudi Arabien,SA,2018-01-23 08:22:00,78106,CH5300772725406220215,Stefan,Müller,6012,Obernau,LU,de,ptan,2
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2

In [149]:


import pandas as pd
from random import randint

df = pd.DataFrame(columns=['A','B','C','D','E'])

for i in range(5): #add 5 rows of data
    df.loc[i, ['A']] = randint(0,99)
    df.loc[i, ['B']] = randint(0,99)
    df.loc[i, ['C']] = randint(0,99)
    df.loc[i, ['D']] = randint(0,99)
    df.loc[i, ['E']] = randint(0,99)
    
df

      A     B     C     D     E
0  82.0  93.0   1.0   5.0   8.0
1   4.0  34.0  45.0  13.0  88.0
2  87.0  41.0  54.0  41.0  43.0
3  81.0  44.0  98.0   3.0  83.0
4  47.0  52.0  20.0  45.0  60.0