<a href="https://colab.research.google.com/github/sakuronohana/cas_datenanalyse/blob/master/Semesterarbeit/CAS_DA_SA_Payment_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img 
src="https://www.ffhs.ch/templates/ffhs/img/logo@2x.png" width="100"> 
###DaAn, Data Analysis, MAS/CAS Web4B 2018, ZH1, FS19, Dr. Tödtli Beat###

##*Semesterarbeit von Patrik Di Lena*##
#Betrugserkennung Zahlungsverkehr#

##Ziel##
Das Ziel dieser Semesterarbeit ist die Gegenüberstellung von Supervised und Unsupervised Lernverfahren mit eine neuronalen Netzwerk Algorthmus. Dabei kommt  ein nicht gelabelter und ein gelabelter Datensatz aus einem Betrugserkennungssystem zum Einsatz. 

##Aufgabenstellung##
###Erkennung von Betrugszahlungen###
Mittels Unsupervised Learning sollen Betrugszahlungen aus einem nicht gelabelten Datensatz erkannt und die Effiktivität des vorhandenen Fraud-Detection Systems geprüft werden.

###Betrugsanfällige Risikogruppen###
Mit Hilfe von Supervised Learning werden mögliche Risikogruppen ermittelt, welche im Visier von Betrügern stehen.  Auf Basis eines gelabelten Datensatzes  werden die Risikogruppen nach folgenden Merkmalen unterschieden:

*	Geschlecht
*	Alter
*	Zivilstand
*	Nationalität
*	Kontosaldo
*	Wohnort
*	Region

##Datensatz##
Die im Rahmen dieser Semesterarbeit verwendeten Daten entstammen, von ihrer Datenstruktur her, aus einem bereits eingesetzten nicht ML-basierten Betrugserkennungssystem. Die Datenwerte wurde zu Wahrung der datenschutzrechtlichen und bankengesetzlichen Aspekte mit Hilfe eines Python-Scripts künstlich erzeugt und beinhalten somit keine reale Zahlungs- oder Kunden-Informationen.   

Datenselektion:

- 20'800 synthetische Kunden (Vorname, Name, Strasse, Ort, Kanton, Sprachregion, Geschlecht, Alter, Zivilstand,  Nationalität, Kontonummer, Vertragsnummer, Rechtsform)

- 60'000 synthetische Zahlungen (Transaktionsid, ,Erstellungdatum/Zeit, Empfängerkonto, Empfängerbank, Empfängerland, Währung, Betrag, Valuta Datum)

#Erkennung von Betrugszahlungen# 

##Unsupervised Learning mit neuronalen Netzwerken##

###Importieren der ungelabelten Fraud-Zahlungsdaten###

In [13]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


# Laden der 600000 nicht gelabelten Transaktionsdaten 
trx_data_url = 'https://raw.githubusercontent.com/sakuronohana/cas_datenanalyse/master/Semesterarbeit/Dataset/trx_data_ol.csv'

trx_data_ol = pd.read_csv(trx_data_url, delimiter=';')
trx_data_ol.head()
trx_data_ol.dtypes

timestamp            object
paym_id               int64
send_bc_nr           object
amount                int64
rcv_bc_nr            object
rcv_bc_iban          object
rcv_bc_country       object
rcv_bc_code          object
rcv_iban             object
valuta_date          object
cust_vertrag_nr       int64
cust_konto_nr        object
cust_vname           object
cust_nname           object
cust_plz              int64
cust_ort             object
cust_kanton          object
cust_sprachregion    object
cust_auth_device     object
dtype: object

###Feature Engineering###

In [24]:
# Daten in das richtige Format konvertieren

trx_data_ol.dtypes
trx_data_ol.timestamp = pd.to_datetime(trx_data_ol['timestamp'])
trx_data_ol.timestamp

0       2018-01-01 08:00:00
1       2018-01-01 08:00:00
2       2018-01-01 08:01:00
3       2018-01-01 08:01:00
4       2018-01-01 08:02:00
5       2018-01-01 08:02:00
6       2018-01-01 08:03:00
7       2018-01-01 08:03:00
8       2018-01-01 08:04:00
9       2018-01-01 08:04:00
10      2018-01-01 08:05:00
11      2018-01-01 08:05:00
12      2018-01-01 08:06:00
13      2018-01-01 08:06:00
14      2018-01-01 08:07:00
15      2018-01-01 08:07:00
16      2018-01-01 08:08:00
17      2018-01-01 08:08:00
18      2018-01-01 08:09:00
19      2018-01-01 08:09:00
20      2018-01-01 08:10:00
21      2018-01-01 08:10:00
22      2018-01-01 08:11:00
23      2018-01-01 08:11:00
24      2018-01-01 08:12:00
25      2018-01-01 08:12:00
26      2018-01-01 08:13:00
27      2018-01-01 08:13:00
28      2018-01-01 08:14:00
29      2018-01-01 08:14:00
                ...
59970   2018-01-22 03:45:00
59971   2018-01-22 03:45:00
59972   2018-01-22 03:46:00
59973   2018-01-22 03:46:00
59974   2018-01-22 03:47:00
59975   2018-01-22 03:47:00
59976   2018-01-22 03:48:00
59977   2018-01-22 03:48:00
59978   2018-01-22 03:49:00
59979   2018-01-22 03:49:00
59980   2018-01-22 03:50:00
59981   2018-01-22 03:50:00
59982   2018-01-22 03:51:00
59983   2018-01-22 03:51:00
59984   2018-01-22 03:52:00
59985   2018-01-22 03:52:00
59986   2018-01-22 03:53:00
59987   2018-01-22 03:53:00
59988   2018-01-22 03:54:00
59989   2018-01-22 03:54:00
59990   2018-01-22 03:55:00
59991   2018-01-22 03:55:00
59992   2018-01-22 03:56:00
59993   2018-01-22 03:56:00
59994   2018-01-22 03:57:00
59995   2018-01-22 03:57:00
59996   2018-01-22 03:58:00
59997   2018-01-22 03:58:00
59998   2018-01-22 03:59:00
59999   2018-01-22 03:59:00
Name: timestamp, Length: 60000, dtype: datetime64[ns]

In [2]:
#Encoding Object Werte in Numeric Werte

# DictVectorizer
from sklearn.feature_extraction import DictVectorizer
# instantiate a Dictvectorizer object for X
dv_X = DictVectorizer(sparse=False) 
# sparse = False makes the output is not a sparse matrix

# convert trx_data_ol into dict
trx_data_dict = trx_data_ol.to_dict(orient='records') # turn each row as key-value pairs

# apply dv_X on X_dict
X_encoded = dv_X.fit_transform(trx_data_dict)
# show X_encoded
X_encoded

array([[1.5368e+04, 1.0000e+00, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [8.9137e+04, 0.0000e+00, 1.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [8.7673e+04, 0.0000e+00, 1.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       ...,
       [6.8647e+04, 0.0000e+00, 1.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [3.7448e+04, 0.0000e+00, 1.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [9.2257e+04, 0.0000e+00, 1.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00]])

In [3]:
# Categorical boolean mask
categorical_feature_mask = trx_data_ol.dtypes==object
# filter categorical columns using mask and turn it into a list
categorical_cols = trx_data_ol.columns[categorical_feature_mask].tolist()

# import labelencoder
from sklearn.preprocessing import LabelEncoder
# instantiate labelencoder object
le = LabelEncoder()

# apply le on categorical feature columns
trx_data_ol[categorical_cols] = trx_data_ol[categorical_cols].apply(lambda col: le.fit_transform(col))
trx_data_ol[categorical_cols].head(10)

,timestamp,send_bc_nr,rcv_bc_nr,rcv_bc_iban,rcv_bc_country,rcv_bc_code,rcv_iban,valuta_date,cust_konto_nr,cust_vname,cust_nname,cust_ort,cust_kanton,cust_sprachregion,cust_auth_device
0,0,0,36,36,29,36,28548,2,13943,261,164,217,4,0,0
1,0,0,67,67,56,67,53597,3,13891,247,1239,251,1,0,1
2,1,0,74,74,32,74,59059,1974,10414,84,2629,667,3,1,1
3,1,0,60,60,60,60,48335,1975,15222,18,1943,532,4,0,0
4,2,0,41,41,37,41,33136,3945,13286,18,2977,86,5,2,0
5,2,0,5,5,5,5,4390,3946,3589,313,1880,385,4,0,1
6,3,0,4,4,2,4,3287,5917,5494,401,1009,594,4,0,0
7,3,0,47,47,46,47,37623,5918,10647,277,2058,229,2,1,1
8,4,0,63,63,58,63,50252,7890,19990,128,2229,678,5,2,1
9,4,0,52,52,47,52,41360,7891,4624,396,2736,217,4,0,1

#Ermittlung potenzieller Kundenrisikogruppen# 
##Supervised Learning mit neuronalen Netzwerken##

In [0]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


# Laden der 600000 Transaktionsdaten 
trx_data_url = 'https://raw.githubusercontent.com/sakuronohana/cas_datenanalyse/master/Semesterarbeit/Dataset/trx_data_ml.csv'

trx_data_ml = pd.read_csv(trx_data_url, delimiter=';')
trx_data_ml.head()

In [0]:
trx_data_ol.nunique()

In [0]:
trx_data.fraud_id.map(lambda x:1 if x>=1 else 0).mean()

##Datensatz analysieren##

##Tipp: Plotting Learning Curves - Scikit !!!!

In [0]:
# Visualisierung der Nummerischen Daten in dem Datensatz
trx_data.hist(bins=50, figsize=(20,15))
plt.show()

In [0]:
# Suche nach den Korrelationen - Teil 1
corr_matrix = trx_data.corr()
print ('Korrelation zu Payment ID','\n',corr_matrix['paym_id'].sort_values(ascending=False))
print ('Korrelation zu Zahlungssumme','\n',corr_matrix['amount'].sort_values(ascending=False))
print ('Korrelation zu Kundenvertrag','\n',corr_matrix['cust_vertrag_nr'].sort_values(ascending=False))
print ('Korrelation zu Betrugsid','\n',corr_matrix['fraud_id'].sort_values(ascending=False))

In [0]:
# Bereinigung der Daten
pd.to_datetime(trx_data['timestamp'])
pd.to_datetime(trx_data['valuta_date'])
np.where(np.isnan(trx_data))

In [0]:
# Datensatz in Trainings(80%)- und Testdatenset (20%) teilen
from sklearn.model_selection import train_test_split
train_trx_data, test_trx_data = train_test_split(trx_data, test_size=0.2, random_state=42) 
train_trx_data.count(), test_trx_data.count()

In [0]:
# Dimensionsreduktion mit PCA
from sklearn.decomposition import PCA # Import der PCA Funktion von Scikit Learn
from sklearn import preprocessing # Die Preprocessing Funktion hilft uns die Daten zu skalieren bevor sie mit PCA verwendet werden.