<a href="https://colab.research.google.com/github/sakuronohana/cas_datenanalyse/blob/master/Semesterarbeit/CAS_DA_SA_Payment_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img 
src="https://www.ffhs.ch/templates/ffhs/img/logo@2x.png" width="100"> 
###DaAn, Data Analysis, MAS/CAS Web4B 2018, ZH1, FS19, Dr. Tödtli Beat###

##*Semesterarbeit von Patrik Di Lena*##
#Betrugserkennung Zahlungsverkehr#

##Ziel##
Auf der Grundlage von maschinellen Lernalgorithmen soll ein Betrugserkennungssystem für den Zahlungsverkehr einer ausschliesslich in der Schweiz tätigen Bank erstellt werden. Auf Basis historisierter Daten in Bezug auf das E-Banking Session- und Zahlungsverhalten von Bankkunden sollen mögliche Betrugsintensionen erkannt und für bestimmte Risikogruppen vorhergesagt werden.

##Aufgabenstellung##

Aus dem oben formulierten Ziel ergeben sich zwei wesentliche Aufgabenstellungen:
1.	Erkennung betrügerischer Handlungen im Zahlungsverkehr
2.	Ermittlung potenzieller Kundenrisikogruppen

##Betrugsanfällige Risikogruppen##
Die für den Betrug im Zahlungsverkehr anfälligen Gruppen werden auf Basis der folgenden Merkmale durch den Lernalgorithmus bestimmt:

*	Geschlecht
*	Alter
*	Zivilstand
*	Nationalität
*	Kontosaldo
*	Wohnort
*	Region
*	Zahlungsmethode (E-Rechnung, Einzahlungsschein etc.)
*	Rechtsform (Juristisch oder natürliche Person)

## Datensatz##
Die im Rahmen dieser Semesterarbeit verwendeten Daten entstammen, von ihrer Datenstruktur her, aus einem bereits eingesetzten nicht ML-basierten E-Banking Betrugserkennungssystem. Die Datenwerte wurde zu Wahrung der datenschutzrechtlichen und bankengesetzlichen Aspekte mit Hilfe des folgenden Python-Scripts künstlich erzeugt und beinhalten somit keine reale Zahlungs-, Kunden-, und betrugsspezifischen Informationen. Weiter wurden einige durch die Bank definierten Spezifikationen bzw. Merkmale aus sicherheitstechnischen Gründen umbenannt.  

Datenselektion:

- 5'000 synthetische Kunden (Vorname, Name, Strasse, Ort, Kanton, Sprachregion, Geschlecht, Alter, Zivilstand,  Nationalität, Kontonummer, Vertragsnummer, Rechtsform )

- 100'000 synthetische Zahlungen (Transaktionsid, ,Erstellungdatum/Zeit, Empfängerkonto, Empfängerbank, Empfängerland, Währung, Betrag, Valuta Datum)

###Datengeneratoren###

Während die Stammdaten hauptsächlich im Excel manuell von verschiedenen Quellen 

Datenquellen:

Open Government Data https://opendata.swiss/de/

###IBAN Generator###

In [107]:
# IBAN Generator

import datetime
import numpy as np
import pandas as pd

# Datenquellen Github
ibandb_url = 'https://raw.githubusercontent.com/sakuronohana/cas_datenanalyse/master/Semesterarbeit/Dataset/iban_list.csv'

# IBAN Generator in elektronischer Form

iban_cc = pd.read_csv(ibandb_url, delimiter=';')
iban_cc.columns=['Country','Code','Checkdig','Length','Sample','Bank']

# IBAN Gen. 1.Teil - Erstellung IBAN Länder- und Bankencode
code = np.random.choice(np.ravel(iban_cc['Code']).astype(str))
checkdig = np.random.choice(np.ravel(iban_cc['Checkdig']).astype(str))
iban_country_code = code + checkdig
iban_bank_code = np.random.choice((iban_cc.loc[iban_cc['Code'] == code])['Length']).astype(str)
iban_ccbc = iban_country_code + "00" + iban_bank_code 

# IBAN Gen. 2.Teil - Erstellung Kontonummer und Zusammensetzung der IBAN
eiban = []
for row in range(20):
    part_eiban = pd.DataFrame(np.int64(np.random.randint(2000000000000,3000000000000,20800)))
    eiban = iban_ccbc + part_eiban.astype(str)

# Zufällige Auswahl einer IBAN aus dem generierten Datensatz
eiban = np.ravel(eiban)
eiban = np.random.choice(eiban)
print (eiban)

LC7200322800994985921

###Payment Generator###

In [174]:
# Erstellung von Transaktionsdaten 

from datetime import datetime, timedelta
import numpy as np
import pandas as pd

# Bankbeziehungsdaten Datenquellen Github
ibandb_url = 'https://raw.githubusercontent.com/sakuronohana/cas_datenanalyse/master/Semesterarbeit/Dataset/iban_list.csv'

# IBAN Generator in elektronischer Form

iban_cc = pd.read_csv(ibandb_url, delimiter=';')
iban_cc.columns=['Country','Code','Checkdig','Length','IBAN','Bank']

# IBAN Gen. 1.Teil - Erstellung IBAN Länder- und Bankencode
code = np.random.choice(np.ravel(iban_cc['Code']).astype(str))
checkdig = np.random.choice(np.ravel(iban_cc['Checkdig']).astype(str))
iban_country_code = code + checkdig
iban_bank_code = np.random.choice((iban_cc.loc[iban_cc['Code'] == code])['Length']).astype(str)
iban_ccbc = iban_country_code + "00" + iban_bank_code 


# IBAN Gen. 2.Teil - Erstellung Kontonummer und Zusammensetzung der IBAN
eiban = []
for row in range(20):
    part_eiban = pd.DataFrame(np.int64(np.random.randint(2000000000000,3000000000000,20800)))
    eiban = iban_ccbc + part_eiban.astype(str)

# Zufällige Auswahl einer IBAN aus dem generierten Datensatz
eiban = np.ravel(eiban)
eiban = np.random.choice(eiban)

# Betrugseinstufung 
# Kein Fraud ist immer 0
fraud_ids = [[1,'External Caused Fraud (e.g. Trojans)'],[2,'Internal Caused Fraud (e.g. Employee)']]
df_fraud = pd.DataFrame(fraud_ids, columns=['Fraud ID', 'Description'])


# Bankkunden Stammdaten - Datenquellen Github
custdb_url = 'https://raw.githubusercontent.com/sakuronohana/cas_datenanalyse/master/Semesterarbeit/Dataset/cutomer_base_data.csv'

cust_data = pd.read_csv(custdb_url, delimiter=';')
cust_data.columns=['anrede','vorname','nachname','strasse','nr','plz','ort',
                   'kanton','sprachregion',	'nation',	'sexcode','mobile_nr',	
                   'vertrag_nr','konto_nr','auth_device']

# Importierte Kundendaten bereinigen
cust_data = cust_data.fillna(0)
cust_data_dtype = {'plz':int,'mobile_nr':int,'vertrag_nr':int}
cust_data = cust_data.astype(cust_data_dtype)

# Erstellung der Zahlungs-Basisinformationen 

#start_date = datetime(2018,1,1,8,0,0)
trx_data = pd.DataFrame(columns=['timestamp','paym_id','send_bc_nr','amount',
                                 'rcv_bc_nr','rcv_bc_iban','rcv_bc_country','rcv_bc_code',
                                 'valuta_date','cust_vertrag_nr','cust_konto_nr',
                                 'cust_vname','cust_nname','cust_plz','cust_ort',
                                'cust_kanton','cust_sprachregion','cust_auth_device',
                                'fraud_id'])

for i in range(80):
    trx_data.loc[i,['timestamp']] = timestamps = pd.Timestamp(datetime(2018,1,1,8,0,0)+timedelta(seconds=30*i)).strftime("%Y.%m.%d %H:%M")
    trx_data.loc[i,['paym_id']] =  np.int64(np.random.randint(1000000000000,2000000000000,1))
    trx_data.loc[i,['send_bc_nr']] =  'CHBANK71XXX'
    trx_data.loc[i,['amount']] = np.int64(np.random.randint(100,100000,1)).astype(str)
    trx_data.loc[i,['rcv_bc_nr']] = bc_bank = np.random.choice(np.ravel(iban_cc['Bank']).astype(str))
    trx_data.loc[i,['rcv_bc_iban']] = np.ravel(iban_cc.loc[iban_cc['Bank'] == bc_bank,['IBAN']])
    trx_data.loc[i,['rcv_bc_country']] = np.ravel(iban_cc.loc[iban_cc['Bank'] == bc_bank,['Country']])
    trx_data.loc[i,['rcv_bc_code']] = np.ravel(iban_cc.loc[iban_cc['Bank'] == bc_bank,['Code']])
    timestamps = datetime.strptime(timestamps,"%Y.%m.%d %H:%M")
    trx_data.loc[i,['valuta_date']] = valuta = timestamps + timedelta(hours=12*i)
    trx_data.loc[i,['cust_vertrag_nr']] = cd_contract = np.random.choice(np.ravel(cust_data['vertrag_nr']))
    trx_data.loc[i,['cust_konto_nr']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['konto_nr']])
    trx_data.loc[i,['cust_vname']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['vorname']])
    trx_data.loc[i,['cust_nname']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['nachname']])
    trx_data.loc[i,['cust_plz']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['plz']])
    trx_data.loc[i,['cust_ort']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['ort']])
    trx_data.loc[i,['cust_kanton']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['kanton']])
    trx_data.loc[i,['cust_sprachregion']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['sprachregion']])
    trx_data.loc[i,['cust_auth_device']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['auth_device']])
    trx_data.loc[i,['fraud_id']] = 0
    

# Von allen durchgeführten Zahlungen hat das Fraud-Detection System 0.5% Betrugszahlungen erkannt. 
trx_data_fraud = trx_data.sample(frac=0.90)
#trx_data_fraud.fraud_id = ''

for x in range(len(trx_data_fraud)):
  trx_data_fraud.fraud_id = np.random.choice(np.ravel(df_fraud['Fraud ID']).astype(str))
  
  
trx_data_fraud.head(80)

,timestamp,paym_id,send_bc_nr,amount,rcv_bc_nr,rcv_bc_iban,rcv_bc_country,rcv_bc_code,valuta_date,cust_vertrag_nr,cust_konto_nr,cust_vname,cust_nname,cust_plz,cust_ort,cust_kanton,cust_sprachregion,cust_auth_device,fraud_id
26,2018.01.01 08:13,1424515443173,CHBANK71XXX,91861,SIBANK75XXX,SI56011006000005649,Slowenien,SI,2018-01-14 08:13:00,72828,CH5300772408937080019,Claudia,Widmer,9112,Schachen b. Herisau,AR,de,mtan,2
16,2018.01.01 08:08,1393168381037,CHBANK71XXX,92817,ADBANK12XXX,AD1000060004451247870930,Andorra,AD,2018-01-09 08:08:00,74557,CH5300772714102271529,Markus,Schär,6026,Rain,LU,de,ptan,2
70,2018.01.01 08:35,1403399456226,CHBANK71XXX,96991,MCBANK56XXX,MC2412739000710075018000P14,Monaco,MC,2018-02-05 08:35:00,67275,CH5300772691433048253,Martin,Frischknecht,6234,Triengen,LU,de,mtan,2
78,2018.01.01 08:39,1967957522840,CHBANK71XXX,80329,QABANK42XXX,QA03QNBA000000000060565452001,Katar,QA,2018-02-09 08:39:00,81083,CH5300772549802212090,Michael,Dainese,6030,Ebikon,LU,de,mtan,2
31,2018.01.01 08:15,1007859865524,CHBANK71XXX,87486,MEBANK57XXX,ME25505120000000466170,Montenegro,ME,2018-01-16 20:15:00,72091,CH5300772946386673084,Stefan,Brunner,9053,Teufen AR,AR,de,ptan,2
65,2018.01.01 08:32,1346180794887,CHBANK71XXX,68479,KWBANK45XXX,KW02NBOK0000000000001000614589,Kuwait,KW,2018-02-02 20:32:00,67439,CH5300772793665449344,Andrea,Gregori,6517,Arbedo,TI,it,mtan,2
49,2018.01.01 08:24,1992392512309,CHBANK71XXX,56282,CYBANK85XXX,CY02002001950000357009822416,Zypern,CY,2018-01-25 20:24:00,79941,CH5300772819814245617,Christian,Portner,5000,Aarau,AG,de,ptan,2
11,2018.01.01 08:05,1439910067810,CHBANK71XXX,60237,HRBANK44XXX,HR0223400093216312031,Kroatien,HR,2018-01-06 20:05:00,71919,CH5300772201166003488,Maria,Jovic,6174,Sörenberg,LU,de,mtan,2
5,2018.01.01 08:02,1919237221266,CHBANK71XXX,29784,GIBANK30XXX,GI04BARC020452163087000,Gibraltar,GI,2018-01-03 20:02:00,83164,CH5300772397506424169,Ursula,Leu,6005,Luzern,LU,de,mtan,2
66,2018.01.01 08:33,1749785678396,CHBANK71XXX,68163,FRBANK28XXX,FR7630006000011234567890189,Frankreich,FR,2018-02-03 08:33:00,85692,CH5300772060042336951,Christian,Casty,6234,Triengen,LU,de,ptan,2
2,2018.01.01 08:01,1550871389420,CHBANK71XXX,34431,GLBANK32XXX,GL2664710001504964,Grönland,GL,2018-01-02 08:01:00,68414,CH5300772666365089356,Maria,Demont,6252,Dagmersellen,LU,de,ptan,2
68,2018.01.01 08:34,1199266946842,CHBANK71XXX,72512,MDBANK55XXX,MD14MO2224ASV41884097100,Moldawien,MD,2018-02-04 08:34:00,76949,CH5300772732592215444,Michel,Chappuis,1679,Villaraboud,FR,fr,ptan,2
58,2018.01.01 08:29,1221367784317,CHBANK71XXX,66979,MDBANK55XXX,MD14MO2224ASV41884097100,Moldawien,MD,2018-01-30 08:29:00,67919,CH5300772431918166984,Giuseppe,Peduzzi,6583,S. Antonio (Val Morobbia),TI,it,ptan,2
48,2018.01.01 08:24,1242585601140,CHBANK71XXX,16786,BGBANK19XXX,BG02RZBB91551002755190,Bulgarien,BG,2018-01-25 08:24:00,79439,CH5300772419948157912,Nicole,Meier,9427,Wolfhalden,AR,de,ptan,2
52,2018.01.01 08:26,1337325056578,CHBANK71XXX,48471,NLBANK58XXX,NL02ABNA0457180536,Niederlande,NL,2018-01-27 08:26:00,70840,CH5300772155175173823,Hans,Shala,9104,Waldstatt,AR,de,mtan,2
43,2018.01.01 08:21,1437754790467,CHBANK71XXX,51126,PKBANK61XXX,PK02SCBL0000001925518401,Pakistan,PK,2018-01-22 20:21:00,65310,CH5300772173811030680,Markus,Bader,6020,Emmenbrücke,LU,de,ptan,2
3,2018.01.01 08:01,1115825711018,CHBANK71XXX,27327,CHBANK71XXX,CH020020720710117540C,Schweiz,CH,2018-01-02 20:01:00,71228,CH5300772630136817538,Marcel,Wäckerlin,9043,Trogen,AR,de,mtan,2
22,2018.01.01 08:11,1720770862917,CHBANK71XXX,21471,VGBANK18XXX,VG48NOSC0000000005002993,Britische Jungferninseln,VG,2018-01-12 08:11:00,78834,CH5300772278684664978,Andrea,Fischer,6023,Rothenburg,LU,de,ptan,2
63,2018.01.01 08:31,1672507933956,CHBANK71XXX,37329,VGBANK18XXX,VG48NOSC0000000005002993,Britische Jungferninseln,VG,2018-02-01 20:31:00,69591,CH5300772099820306124,Marie,Favre,1204,Genève,GE,fr,ptan,2
33,2018.01.01 08:16,1671243770369,CHBANK71XXX,8454,MRBANK52XXX,MR1300012000010000009880016,Mauretanien,MR,2018-01-17 20:16:00,74727,CH5300772586122934956,Michael,Huber,9037,Speicherschwendi,AR,de,ptan,2
75,2018.01.01 08:37,1094180763223,CHBANK71XXX,8155,TRBANK78XXX,TR020001000201529153355002,Türkei,TR,2018-02-07 20:37:00,83834,CH5300772041076322449,Peter,Meier,6030,Ebikon,LU,de,ptan,2
19,2018.01.01 08:09,1188142213258,CHBANK71XXX,22292,BRBANK17XXX,BR0200000000010670000117668C1,Brasilien,BR,2018-01-10 20:09:00,67514,CH5300772713042067626,Ruth,Clavadetscher,6264,Pfaffnau,LU,de,ptan,2
6,2018.01.01 08:03,1348979407027,CHBANK71XXX,3138,XKBANK43XXX,XK051301001002074155,Kosovo,XK,2018-01-04 08:03:00,72214,CH5300772313295536701,Stefan,Meier,6130,Willisau,LU,de,ptan,2
72,2018.01.01 08:36,1324952807825,CHBANK71XXX,24787,MCBANK56XXX,MC2412739000710075018000P14,Monaco,MC,2018-02-06 08:36:00,75631,CH5300772926933901145,Luca,Sidler,6147,Altbüron,LU,de,mtan,2
46,2018.01.01 08:23,1422150664504,CHBANK71XXX,65046,HUBANK82XXX,HU02116000060000000064247067,Ungarn,HU,2018-01-24 08:23:00,74825,CH5300772939207618433,Maria,Binsacca,6749,Sobrio,TI,it,ptan,2
30,2018.01.01 08:15,1221350311711,CHBANK71XXX,42802,DKBANK21XXX,DK0220005036459478,Dänemark,DK,2018-01-16 08:15:00,80705,CH5300772842959416280,Monika,Koch,6105,Schachen LU,LU,de,ptan,2
1,2018.01.01 08:00,1976014754837,CHBANK71XXX,72798,ATBANK60XXX,AT021100000622888600,Österreich,AT,2018-01-01 20:00:00,65549,CH5300772928410069259,Hans,Hasler,6025,Neudorf,LU,de,mtan,2
34,2018.01.01 08:17,1584955990533,CHBANK71XXX,21074,PKBANK61XXX,PK02SCBL0000001925518401,Pakistan,PK,2018-01-18 08:17:00,76603,CH5300772071203517687,Marco,Gobbi,6204,Sempach,LU,de,ptan,2
56,2018.01.01 08:28,1861330273883,CHBANK71XXX,42804,ADBANK12XXX,AD1000060004451247870930,Andorra,AD,2018-01-29 08:28:00,71939,CH5300772170260737062,Maria,Meier,9100,Herisau,AR,de,ptan,2
0,2018.01.01 08:00,1152507781223,CHBANK71XXX,97640,LIBANK48XXX,LI0308800000022875748,Liechtenstein,LI,2018-01-01 08:00:00,70435,CH5300772490190564593,Barbara,Boss,5000,Aarau,AG,de,mtan,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,2018.01.01 08:05,1836571155951,CHBANK71XXX,13459,TLBANK77XXX,TL380030000000025923744,Timor-Leste,TL,2018-01-06 08:05:00,70383,CH5300772881873172278,Barbara,Berger,5000,Aarau,AG,de,ptan,2
60,2018.01.01 08:30,1521527787570,CHBANK71XXX,6083,MEBANK57XXX,ME25505120000000466170,Montenegro,ME,2018-01-31 08:30:00,67023,CH5300772892613655683,Maria,Nguyen,1233,Bernex,GE,fr,mtan,2
41,2018.01.01 08:20,1415923938159,CHBANK71XXX,87890,BABANK16XXX,BA391011606058553319,Bosnien und Herzegowina,BA,2018-01-21 20:20:00,74931,CH5300772742612580477,Elisa,Peri,6713,Malvaglia,TI,it,mtan,2
53,2018.01.01 08:26,1319900940529,CHBANK71XXX,19618,CYBANK85XXX,CY02002001950000357009822416,Zypern,CY,2018-01-27 20:26:00,80719,CH5300772571912646966,Daniel,Kälin,9427,Wolfhalden,AR,de,ptan,2
25,2018.01.01 08:12,1148566014359,CHBANK71XXX,87639,ILBANK38XXX,IL020108380000002149431,Israel,IL,2018-01-13 20:12:00,69238,CH5300772370357244132,Ursula,Steiner,6023,Rothenburg,LU,de,ptan,2
24,2018.01.01 08:12,1942967541768,CHBANK71XXX,28271,SKBANK74XXX,SK0202000000003679748552,Slowakische Republik,SK,2018-01-13 08:12:00,72100,CH5300772698467862478,Hans,Reichen,5000,Aarau,AG,de,ptan,2
7,2018.01.01 08:03,1554731652807,CHBANK71XXX,26664,PTBANK64XXX,PT50003600409911001102673,Portugal,PT,2018-01-04 20:03:00,77452,CH5300772100878769375,José,Berisha,1636,Broc,FR,fr,ptan,2
76,2018.01.01 08:38,1649236232430,CHBANK71XXX,95404,BHBANK14XXX,BH02CITI00001077181611,Bahrain,BH,2018-02-08 08:38:00,76295,CH5300772666852916944,Thomas,Battaglia,6276,Hohenrain,LU,de,ptan,2
36,2018.01.01 08:18,1261487589681,CHBANK71XXX,80415,QABANK42XXX,QA03QNBA000000000060565452001,Katar,QA,2018-01-19 08:18:00,80516,CH5300772429077059423,Daniel,Kirchhofer,6130,Willisau,LU,de,mtan,2
4,2018.01.01 08:02,1131302236553,CHBANK71XXX,82523,JOBANK40XXX,JO02SCBL1260000000018525836101,Jordanien,JO,2018-01-03 08:02:00,80991,CH5300772294556409050,Andreas,Zumoberhaus,6005,Luzern,LU,de,ptan,2
67,2018.01.01 08:33,1394247854101,CHBANK71XXX,93954,MRBANK52XXX,MR1300012000010000009880016,Mauretanien,MR,2018-02-03 20:33:00,67207,CH5300772649323200708,Lucia,Müller,6152,Hüswil,LU,de,ptan,2
20,2018.01.01 08:10,1468559418867,CHBANK71XXX,15421,FOBANK26XXX,FO1291810001441878,Färöer Inseln,FO,2018-01-11 08:10:00,83846,CH5300772815110700143,Daniel,Michaud,1700,Fribourg,FR,fr,ptan,2
59,2018.01.01 08:29,1882720458563,CHBANK71XXX,76986,ISBANK37XXX,IS040116381002305610911109,Island,IS,2018-01-30 20:29:00,83737,CH5300772062605417297,Martin,Schaub,6010,Kriens,LU,de,mtan,2
54,2018.01.01 08:27,1277218735342,CHBANK71XXX,5202,LVBANK46XXX,LV02HABA0551007820897,Lettland,LV,2018-01-28 08:27:00,79959,CH5300772425400463146,Maria,Blaser,1224,Chêne-Bougeries,GE,fr,mtan,2
42,2018.01.01 08:21,1563476631612,CHBANK71XXX,83497,CRBANK20XXX,CR79015202220005614288,Costa Rica,CR,2018-01-22 08:21:00,69362,CH5300772990988153999,Erika,Zaugg,4806,Wikon,LU,de,ptan,2
38,2018.01.01 08:19,1232398495759,CHBANK71XXX,96831,KWBANK45XXX,KW02NBOK0000000000001000614589,Kuwait,KW,2018-01-20 08:19:00,77539,CH5300772580537366754,Hans,Bachmann,9042,Speicher,AR,de,ptan,2
18,2018.01.01 08:09,1080903018221,CHBANK71XXX,56955,BEBANK15XXX,BE45096920886089,Belgien,BE,2018-01-10 08:09:00,83770,CH5300772401810494172,Nicolas,Decré,1247,Anières,GE,fr,ptan,2
29,2018.01.01 08:14,1450484311428,CHBANK71XXX,40924,FRBANK28XXX,FR7630006000011234567890189,Frankreich,FR,2018-01-15 20:14:00,67038,CH5300772466646757665,Laura,Spinedi,6702,Claro,TI,it,ptan,2
51,2018.01.01 08:25,1851160860173,CHBANK71XXX,89098,CYBANK85XXX,CY02002001950000357009822416,Zypern,CY,2018-01-26 20:25:00,80890,CH5300772378372384426,Barbara,Graber,5000,Aarau,AG,de,ptan,2
32,2018.01.01 08:16,1738632205901,CHBANK71XXX,72394,HUBANK82XXX,HU02116000060000000064247067,Ungarn,HU,2018-01-17 08:16:00,73964,CH5300772004200209205,Markus,Huber,6043,Adligenswil,LU,de,ptan,2
17,2018.01.01 08:08,1071345721774,CHBANK71XXX,97840,MDBANK55XXX,MD14MO2224ASV41884097100,Moldawien,MD,2018-01-09 20:08:00,75108,CH5300772105870941233,Christian,Schneider,6344,Meierskappel,LU,de,ptan,2
71,2018.01.01 08:35,1204086611869,CHBANK71XXX,95483,IQBANK35XXX,IQ20CBIQ861800101010500,Irak,IQ,2018-02-05 20:35:00,75856,CH5300772541036209968,Kurt,Baumann,5000,Aarau,AG,de,mtan,2
21,2018.01.01 08:10,1924320087216,CHBANK71XXX,61791,KZBANK41XXX,KZ04319C010005569698,Kasachstan,KZ,2018-01-11 20:10:00,67838,CH5300772211823117123,Andreas,Lepori,6221,Rickenbach LU,LU,de,ptan,2
77,2018.01.01 08:38,1505029497529,CHBANK71XXX,91432,IQBANK35XXX,IQ20CBIQ861800101010500,Irak,IQ,2018-02-08 20:38:00,76814,CH5300772391103998446,Daniel,Studer,9044,Wald AR,AR,de,ptan,2
23,2018.01.01 08:11,1452330791128,CHBANK71XXX,40679,SCBANK73XXX,SC74NOVH00000021002035257028SCR,Seychellen,SC,2018-01-12 20:11:00,78353,CH5300772450377050567,Sandra,Albin,6252,Dagmersellen,LU,de,mtan,2
57,2018.01.01 08:28,1628757985424,CHBANK71XXX,10142,FOBANK26XXX,FO1291810001441878,Färöer Inseln,FO,2018-01-29 20:28:00,77595,CH5300772498315395643,Sara,Togni,6206,Neuenkirch,LU,de,mtan,2
35,2018.01.01 08:17,1562956485282,CHBANK71XXX,20154,PLBANK63XXX,PL02103000190109780401676562,Polen,PL,2018-01-18 20:17:00,71526,CH5300772351766022824,Susanne,Riva,6949,Comano,TI,it,ptan,2
14,2018.01.01 08:07,1259846514083,CHBANK71XXX,77592,FOBANK26XXX,FO1291810001441878,Färöer Inseln,FO,2018-01-08 08:07:00,85740,CH5300772210442852977,Nicolas,Garcia,1632,Riaz,FR,fr,ptan,2
40,2018.01.01 08:20,1015303786279,CHBANK71XXX,97827,BHBANK14XXX,BH02CITI00001077181611,Bahrain,BH,2018-01-21 08:20:00,84424,CH5300772983171192775,Maria,Schmid,9105,Schönengrund,AR,de,ptan,2
47,2018.01.01 08:23,1339722062193,CHBANK71XXX,52578,ESBANK76XXX,ES1321000555370200853027,Spanien,ES,2018-01-24 20:23:00,67777,CH5300772683991259643,Markus,Holzherr,6006,Luzern,LU,de,ptan,2

In [149]:


import pandas as pd
from random import randint

df = pd.DataFrame(columns=['A','B','C','D','E'])

for i in range(5): #add 5 rows of data
    df.loc[i, ['A']] = randint(0,99)
    df.loc[i, ['B']] = randint(0,99)
    df.loc[i, ['C']] = randint(0,99)
    df.loc[i, ['D']] = randint(0,99)
    df.loc[i, ['E']] = randint(0,99)
    
df

      A     B     C     D     E
0  82.0  93.0   1.0   5.0   8.0
1   4.0  34.0  45.0  13.0  88.0
2  87.0  41.0  54.0  41.0  43.0
3  81.0  44.0  98.0   3.0  83.0
4  47.0  52.0  20.0  45.0  60.0