<a href="https://colab.research.google.com/github/sakuronohana/cas_datenanalyse/blob/master/Semesterarbeit/CAS_DA_SA_Payment_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img 
src="https://www.ffhs.ch/templates/ffhs/img/logo@2x.png" width="100"> 
###DaAn, Data Analysis, MAS/CAS Web4B 2018, ZH1, FS19, Dr. Tödtli Beat###

##*Semesterarbeit von Patrik Di Lena*##
#Betrugserkennung Zahlungsverkehr#

##Ziel##
Auf der Grundlage von maschinellen Lernalgorithmen soll ein Betrugserkennungssystem für den Zahlungsverkehr einer ausschliesslich in der Schweiz tätigen Bank erstellt werden. Auf Basis historisierter Daten in Bezug auf das E-Banking Session- und Zahlungsverhalten von Bankkunden sollen mögliche Betrugsintensionen erkannt und für bestimmte Risikogruppen vorhergesagt werden.

##Aufgabenstellung##

Aus dem oben formulierten Ziel ergeben sich zwei wesentliche Aufgabenstellungen:
1.	Erkennung betrügerischer Handlungen im Zahlungsverkehr
2.	Ermittlung potenzieller Kundenrisikogruppen

##Betrugsanfällige Risikogruppen##
Die für den Betrug im Zahlungsverkehr anfälligen Gruppen werden auf Basis der folgenden Merkmale durch den Lernalgorithmus bestimmt:

*	Geschlecht
*	Alter
*	Zivilstand
*	Nationalität
*	Kontosaldo
*	Wohnort
*	Region
*	Zahlungsmethode (E-Rechnung, Einzahlungsschein etc.)
*	Rechtsform (Juristisch oder natürliche Person)

## Datensatz##
Die im Rahmen dieser Semesterarbeit verwendeten Daten entstammen, von ihrer Datenstruktur her, aus einem bereits eingesetzten nicht ML-basierten E-Banking Betrugserkennungssystem. Die Datenwerte wurde zu Wahrung der datenschutzrechtlichen und bankengesetzlichen Aspekte mit Hilfe des folgenden Python-Scripts künstlich erzeugt und beinhalten somit keine reale Zahlungs-, Kunden-, und betrugsspezifischen Informationen. Weiter wurden einige durch die Bank definierten Spezifikationen bzw. Merkmale aus sicherheitstechnischen Gründen umbenannt.  

Datenselektion:

- 5'000 synthetische Kunden (Vorname, Name, Strasse, Ort, Kanton, Sprachregion, Geschlecht, Alter, Zivilstand,  Nationalität, Kontonummer, Vertragsnummer, Rechtsform )

- 100'000 synthetische Zahlungen (Transaktionsid, ,Erstellungdatum/Zeit, Empfängerkonto, Empfängerbank, Empfängerland, Währung, Betrag, Valuta Datum)

###Datengeneratoren###

Während die Stammdaten hauptsächlich im Excel manuell von verschiedenen Quellen 

Datenquellen:

Open Government Data https://opendata.swiss/de/

In [1]:
# IBAN Generator

import numpy as np
import pandas as pd


iban_country_code = 'CH53'
iban_bank_code = '0077'
 
iban_cc = pd.read_csv('https://raw.githubusercontent.com/sakuronohana/cas_datenanalyse/master/Semesterarbeit/Dataset/iban_list.csv', delimiter=';')
iban_cc.columns=['Country','Code','Checkdig','Length','Sample']

cc_ch = iban_cc['Country'].where(iban_cc['Country'] != 'Albanien')


iban_account1 = np.int64(np.random.randint(2000,3000,20800))
iban_account2 = np.int64(np.random.randint(3000,4000,20800))
iban_account3 = np.int64(np.random.randint(5000,6000,20800))
iban_account4 = np.random.randint(1,9,20800)


iban = {'a':iban_account1,'b':iban_account2 ,'c':iban_account3 ,'d':iban_account4}
iban = pd.DataFrame(iban)

ccode = []
bcode = []
eiban = []

for row in range(len(iban)):
  if row > 1:
    ccode.append(iban_country_code)
    bcode.append(iban_bank_code)
    eiban.append('1')
   
cc = pd.DataFrame(ccode)
bc = pd.DataFrame(bcode)
eiban = pd.DataFrame(eiban)
iban.insert(0,'cc',cc)
iban.insert(1,'bc',bc)
iban.insert(6,'eiban',eiban)

iban

#iban.to_csv('gen_iban.csv',index=False, sep=' ')

#data = pd.read_csv('gen_iban.csv',header=None, index_col=False)

         cc    bc     a     b     c  d eiban
0      CH53  0077  2900  3006  5294  6     1
1      CH53  0077  2671  3715  5790  5     1
2      CH53  0077  2959  3313  5679  2     1
3      CH53  0077  2647  3102  5031  5     1
4      CH53  0077  2289  3764  5111  3     1
5      CH53  0077  2175  3907  5344  6     1
6      CH53  0077  2502  3724  5115  8     1
7      CH53  0077  2655  3479  5285  6     1
8      CH53  0077  2173  3816  5848  7     1
9      CH53  0077  2278  3407  5535  6     1
10     CH53  0077  2685  3654  5692  4     1
11     CH53  0077  2576  3798  5835  2     1
12     CH53  0077  2656  3899  5438  5     1
13     CH53  0077  2052  3796  5538  3     1
14     CH53  0077  2960  3366  5124  4     1
15     CH53  0077  2835  3426  5648  2     1
16     CH53  0077  2088  3096  5131  7     1
17     CH53  0077  2233  3382  5695  3     1
18     CH53  0077  2514  3013  5925  6     1
19     CH53  0077  2376  3873  5911  7     1
20     CH53  0077  2997  3957  5013  6     1
21     CH53  0077  2800  3236  5777  4     1
22     CH53  0077  2972  3618  5818  4     1
23     CH53  0077  2606  3264  5121  4     1
24     CH53  0077  2349  3818  5887  2     1
25     CH53  0077  2782  3432  5764  6     1
26     CH53  0077  2045  3512  5414  3     1
27     CH53  0077  2110  3695  5121  1     1
28     CH53  0077  2928  3568  5914  6     1
29     CH53  0077  2175  3974  5162  4     1
...     ...   ...   ...   ...   ... ..   ...
20770  CH53  0077  2834  3612  5751  1     1
20771  CH53  0077  2597  3430  5487  4     1
20772  CH53  0077  2327  3585  5443  1     1
20773  CH53  0077  2019  3020  5412  3     1
20774  CH53  0077  2664  3468  5584  6     1
20775  CH53  0077  2748  3852  5831  6     1
20776  CH53  0077  2816  3690  5288  1     1
20777  CH53  0077  2853  3303  5280  1     1
20778  CH53  0077  2700  3954  5711  6     1
20779  CH53  0077  2642  3708  5284  7     1
20780  CH53  0077  2114  3811  5523  6     1
20781  CH53  0077  2259  3692  5405  6     1
20782  CH53  0077  2269  3273  5963  6     1
20783  CH53  0077  2927  3411  5502  1     1
20784  CH53  0077  2526  3126  5695  2     1
20785  CH53  0077  2391  3837  5100  7     1
20786  CH53  0077  2225  3260  5530  8     1
20787  CH53  0077  2888  3824  5255  8     1
20788  CH53  0077  2873  3654  5356  8     1
20789  CH53  0077  2226  3605  5326  8     1
20790  CH53  0077  2104  3507  5009  5     1
20791  CH53  0077  2201  3140  5367  6     1
20792  CH53  0077  2541  3374  5820  5     1
20793  CH53  0077  2402  3211  5146  7     1
20794  CH53  0077  2464  3939  5125  8     1
20795  CH53  0077  2564  3477  5109  4     1
20796  CH53  0077  2038  3186  5288  8     1
20797  CH53  0077  2797  3572  5128  4     1
20798   NaN   NaN  2171  3864  5561  5   NaN
20799   NaN   NaN  2159  3724  5083  4   NaN

[20800 rows x 7 columns]

In [0]:
# Payment Transaction Generator