<a href="https://colab.research.google.com/github/sakuronohana/cas_datenanalyse/blob/master/Semesterarbeit/CAS_DA_SA_Payment_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img 
src="https://www.ffhs.ch/templates/ffhs/img/logo@2x.png" width="100"> 
###DaAn, Data Analysis, MAS/CAS Web4B 2018, ZH1, FS19, Dr. Tödtli Beat###

##*Semesterarbeit von Patrik Di Lena*##
#Betrugserkennung Zahlungsverkehr#

##Ziel##
Auf der Grundlage von maschinellen Lernalgorithmen soll ein Betrugserkennungssystem für den Zahlungsverkehr einer ausschliesslich in der Schweiz tätigen Bank erstellt werden. Auf Basis historisierter Daten in Bezug auf das E-Banking Session- und Zahlungsverhalten von Bankkunden sollen mögliche Betrugsintensionen erkannt und für bestimmte Risikogruppen vorhergesagt werden.

##Aufgabenstellung##

Aus dem oben formulierten Ziel ergeben sich zwei wesentliche Aufgabenstellungen:
1.	Erkennung betrügerischer Handlungen im Zahlungsverkehr
2.	Ermittlung potenzieller Kundenrisikogruppen

##Betrugsanfällige Risikogruppen##
Die für den Betrug im Zahlungsverkehr anfälligen Gruppen werden auf Basis der folgenden Merkmale durch den Lernalgorithmus bestimmt:

*	Geschlecht
*	Alter
*	Zivilstand
*	Nationalität
*	Kontosaldo
*	Wohnort
*	Region
*	Zahlungsmethode (E-Rechnung, Einzahlungsschein etc.)
*	Rechtsform (Juristisch oder natürliche Person)

## Datensatz##
Die im Rahmen dieser Semesterarbeit verwendeten Daten entstammen, von ihrer Datenstruktur her, aus einem bereits eingesetzten nicht ML-basierten E-Banking Betrugserkennungssystem. Die Datenwerte wurde zu Wahrung der datenschutzrechtlichen und bankengesetzlichen Aspekte mit Hilfe des folgenden Python-Scripts künstlich erzeugt und beinhalten somit keine reale Zahlungs-, Kunden-, und betrugsspezifischen Informationen. Weiter wurden einige durch die Bank definierten Spezifikationen bzw. Merkmale aus sicherheitstechnischen Gründen umbenannt.  

Datenselektion:

- 5'000 synthetische Kunden (Vorname, Name, Strasse, Ort, Kanton, Sprachregion, Geschlecht, Alter, Zivilstand,  Nationalität, Kontonummer, Vertragsnummer, Rechtsform )

- 100'000 synthetische Zahlungen (Transaktionsid, ,Erstellungdatum/Zeit, Empfängerkonto, Empfängerbank, Empfängerland, Währung, Betrag, Valuta Datum)

###Datengeneratoren###

Während die Stammdaten hauptsächlich im Excel manuell von verschiedenen Quellen 

Datenquellen:

Open Government Data https://opendata.swiss/de/

###IBAN Generator###

Mit der folgenden Code Cell wurden die IBAN Nummern für die Kunden Stammdaten erstellt.

In [0]:
# IBAN Generator

import datetime
import numpy as np
import pandas as pd

# Datenquellen Github
ibandb_url = 'https://raw.githubusercontent.com/sakuronohana/cas_datenanalyse/master/Semesterarbeit/Dataset/iban_list.csv'

# IBAN Generator in elektronischer Form

iban_cc = pd.read_csv(ibandb_url, delimiter=';')
iban_cc.columns=['Country','Code','Checkdig','Length','Sample','Bank']

# IBAN Gen. 1.Teil - Erstellung IBAN Länder- und Bankencode
code = np.random.choice(np.ravel(iban_cc['Code']).astype(str))
checkdig = np.random.choice(np.ravel(iban_cc['Checkdig']).astype(str))
iban_country_code = code + checkdig
iban_bank_code = np.random.choice((iban_cc.loc[iban_cc['Code'] == code])['Length']).astype(str)
iban_ccbc = iban_country_code + "00" + iban_bank_code 

# IBAN Gen. 2.Teil - Erstellung Kontonummer und Zusammensetzung der IBAN
eiban = []
for row in range(20):
    part_eiban = pd.DataFrame(np.int64(np.random.randint(2000000000000,3000000000000,20800)))
    eiban = iban_ccbc + part_eiban.astype(str)

# Zufällige Auswahl einer IBAN aus dem generierten Datensatz
eiban = np.ravel(eiban)
eiban = np.random.choice(eiban)

LC7200322800994985921

###Payment Generator###

Mit dem folgenden Python Code wurden synthetischen Transaktionsdaten inkl. Betrugserkennungsidentifikation generiert. Die Daten wurde vollumfänglich Zufrallsgeneriert. Die Daten beinhalten folgenden Merkmale:

* **Zeitstempel** (timestamp) - Zeitpunkt der Transaktionserstellung
* **Zahlungsidentifikationsnummer** (paym_id) - Eindeutige Nummer pro erstellter Transaktion
* **Zahlungssendende Bank** (send_bc_nr) - Eindeutiger Bankcode der Bank, von welcher die zahlung gesendet wurde. In diesem Fall ist es immer die Gleiche
* **Zahlungsbetrag** (amount) - Überweisungsbetrag an das Empfängerkonto (rcv_iban)
* 
,rcv_bc_nr,rcv_bc_iban,rcv_bc_country,rcv_bc_code,rcv_iban,valuta_date,cust_vertrag_nr,cust_konto_nr,cust_vname,cust_nname,cust_plz,cust_ort,cust_kanton,cust_sprachregion,cust_auth_device,fraud_id

In [4]:
# Erstellung von Transaktionsdaten 

from datetime import datetime, timedelta
import numpy as np
import pandas as pd

# Bankbeziehungsdaten Datenquellen Github
ibandb_url = 'https://raw.githubusercontent.com/sakuronohana/cas_datenanalyse/master/Semesterarbeit/Dataset/iban_list.csv'

# Transaktionsinfromationen importieren

iban_cc = pd.read_csv(ibandb_url, delimiter=';')
iban_cc.columns=['Country','Code','Checkdig','Length','IBAN','Bank']

# Betrugseinstufung 
# Kein Fraud ist immer 0
fraud_ids = [[1,'External Caused Fraud (e.g. Trojans)'],[2,'Internal Caused Fraud (e.g. Employee)']]
df_fraud = pd.DataFrame(fraud_ids, columns=['Fraud ID', 'Description'])

# Betragswaehrungen (Schweizer Franken, Euro, US-Dollar)
currency = [['CHF','Schweizer Franken'],['EUR','EU Euro'],['USD','US Dollar']]
df_currency = pd.DataFrame(currency, columns=['Currency', 'Description'])

# Bankkunden Stammdaten - Datenquellen Github
custdb_url = 'https://raw.githubusercontent.com/sakuronohana/cas_datenanalyse/master/Semesterarbeit/Dataset/cutomer_base_data.csv'

cust_data = pd.read_csv(custdb_url, delimiter=';')
cust_data.columns=['anrede','vorname','nachname','strasse','nr','plz','ort',
                   'kanton','sprachregion',	'nation',	'sexcode','mobile_nr',	
                   'vertrag_nr','konto_nr','auth_device']

# Importierte Kundendaten bereinigen
cust_data = cust_data.fillna(0)
cust_data_dtype = {'plz':int,'mobile_nr':int,'vertrag_nr':int}
cust_data = cust_data.astype(cust_data_dtype)

# Erstellung der Zahlungs-Basisinformationen 

# Erster Teil der Zahlungs-Basisinformationen

trx_data = pd.DataFrame(columns=['timestamp','paym_id','send_bc_nr','amount',
                                 'rcv_bc_nr','rcv_bc_iban','rcv_bc_country','rcv_bc_code',
                                 'rcv_iban','valuta_date','cust_vertrag_nr','cust_konto_nr',
                                 'cust_vname','cust_nname','cust_plz','cust_ort',
                                'cust_kanton','cust_sprachregion','cust_auth_device',
                                'fraud_id'])

for i in range(250):
    trx_data.loc[i,['timestamp']] = timestamps = pd.Timestamp(datetime(2018,1,1,8,0,0)+timedelta(seconds=30*i)).strftime("%Y.%m.%d %H:%M")
    trx_data.loc[i,['paym_id']] =  10000000 + 10 +i
    #trx_data.loc[i,['paym_id']] =  np.int64(np.random.randint(1000000000000,2000000000000,1))
    trx_data.loc[i,['send_bc_nr']] =  'CHBANK71XXX'
    trx_data.loc[i,['amount']] = np.int64(np.random.randint(100,100000,1)).astype(str)
    trx_data.loc[i,['rcv_bc_nr']] = bc_bank = np.random.choice(np.ravel(iban_cc['Bank']).astype(str))
    trx_data.loc[i,['rcv_bc_iban']] = np.ravel(iban_cc.loc[iban_cc['Bank'] == bc_bank,['IBAN']].astype(str))
    trx_data.loc[i,['rcv_bc_country']] = np.ravel(iban_cc.loc[iban_cc['Bank'] == bc_bank,['Country']])
    trx_data.loc[i,['rcv_bc_code']] = bc_code = np.ravel(iban_cc.loc[iban_cc['Bank'] == bc_bank,['Code']].astype(str))
    iban_ccbc = bc_code + np.ravel(iban_cc.loc[iban_cc['Bank'] == bc_bank,['Checkdig']].astype(str)) + '00'
    part_eiban = np.ravel(np.int64(np.random.randint(2000000000000,3000000000000,1)))
    trx_data.loc[i,['rcv_iban']] = iban_ccbc + part_eiban.astype(str)
    timestamps = datetime.strptime(timestamps,"%Y.%m.%d %H:%M")
    trx_data.loc[i,['valuta_date']] = valuta = datetime.strftime((timestamps + timedelta(hours=12*i)),'%Y.%m.%d %H:%M')
    trx_data.loc[i,['cust_vertrag_nr']] = cd_contract = np.random.choice(np.ravel(cust_data['vertrag_nr']).astype(int))
    trx_data.loc[i,['fraud_id']] = np.random.choice(np.ravel(df_fraud['Fraud ID']).astype(str)) 
# Zeiter Teil der Zahlungs-Basisinformationen. 
    for row in trx_data['cust_vertrag_nr']:
      if row == cd_contract:
        trx_data.cust_konto_nr = cust_data.konto_nr
      if row == cd_contract:
        trx_data.cust_vname = cust_data.vorname
      if row == cd_contract:
        trx_data.cust_nname = cust_data.nachname
      if row == cd_contract:
        trx_data.cust_plz = (cust_data.plz).astype(int)
      if row == cd_contract:
        trx_data.cust_ort = cust_data.ort
      if row == cd_contract:
        trx_data.cust_kanton = cust_data.kanton
      if row == cd_contract:
        trx_data.cust_sprachregion = cust_data.sprachregion
      if row == cd_contract:
        trx_data.cust_auth_device = cust_data.auth_device
     
       

# Von allen durchgeführten Zahlungen hat das Fraud-Detection System 0.5% Betrugszahlungen erkannt. 
trx_data_non_fraud = trx_data.sample(frac=0.95)

for x in range(len(trx_data_non_fraud)):
  trx_data_non_fraud.fraud_id = 0

  
# Löschung der Non Fraud aus DataFrame "Trx_Data" und Erstellung Fraud

trx_data_fraud = trx_data.drop(trx_data.index[trx_data_non_fraud.index])

# Non Fraud und Fraud Dataframes in ein csv exportieren
trx_data = pd.concat([trx_data_non_fraud, trx_data_fraud], axis=0)
trx_data.sort_values(['paym_id'], axis=0, ascending=True, inplace=True)
trx_data.to_csv('trx_data.csv', index=False)
trx_data.head(-5)

,timestamp,paym_id,send_bc_nr,amount,rcv_bc_nr,rcv_bc_iban,rcv_bc_country,rcv_bc_code,rcv_iban,valuta_date,cust_vertrag_nr,cust_konto_nr,cust_vname,cust_nname,cust_plz,cust_ort,cust_kanton,cust_sprachregion,cust_auth_device,fraud_id
0,2018.01.01 08:00,10000010.0,CHBANK71XXX,71420,ESBANK76XXX,ES1321000555370200853027,Spanien,ES,ES76002023750126601,2018.01.01 08:00,82902.0,CH5300772672529640195,Martin,Bader,6020,Emmenbrücke,LU,de,mtan,0
1,2018.01.01 08:00,10000011.0,CHBANK71XXX,80046,PSBANK62XXX,PS06ARAB000000009040781605610,Palästina,PS,PS62002271143817067,2018.01.01 20:00,80935.0,CH5300772670061796126,Margaretha,Fehr,9056,Gais,AR,de,ptan,0
2,2018.01.01 08:01,10000012.0,CHBANK71XXX,32103,ALBANK11XXX,AL06202111090000000005012075,Albanien,AL,AL11002816184518873,2018.01.02 08:01,84710.0,CH5300772500037725234,Daniel,Miéville,1253,Vandoeuvres,GE,fr,ptan,0
3,2018.01.01 08:01,10000013.0,CHBANK71XXX,95207,BABANK16XXX,BA391011606058553319,Bosnien und Herzegowina,BA,BA16002147474559195,2018.01.02 20:01,67250.0,CH5300772732508635138,Andrea,Iseni,6026,Rain,LU,de,mtan,0
4,2018.01.01 08:02,10000014.0,CHBANK71XXX,14827,LVBANK46XXX,LV02HABA0551007820897,Lettland,LV,LV46002252799877458,2018.01.03 08:02,75197.0,CH5300772640237288398,Andrea,Pinana,6693,Broglio,TI,it,mtan,0
5,2018.01.01 08:02,10000015.0,CHBANK71XXX,59600,GEBANK29XXX,GE02TB7523045063700002,Georgia,GE,GE29002982643944177,2018.01.03 20:02,67636.0,CH5300772172038822637,Peter,Häner,6006,Luzern,LU,de,ptan,0
6,2018.01.01 08:03,10000016.0,CHBANK71XXX,81316,NLBANK58XXX,NL02ABNA0457180536,Niederlande,NL,NL58002258191248613,2018.01.04 08:03,66945.0,CH5300772262693101243,Ursula,Derungs,6247,Schötz,LU,de,mtan,0
7,2018.01.01 08:03,10000017.0,CHBANK71XXX,23527,KZBANK41XXX,KZ04319C010005569698,Kasachstan,KZ,KZ41002360918983284,2018.01.04 20:03,78321.0,CH5300772511216015083,Michel,Kaenel,1665,Estavannens,FR,fr,ptan,0
8,2018.01.01 08:04,10000018.0,CHBANK71XXX,390,MTBANK51XXX,MT02VALL22013000000040013752732,Malta,MT,MT51002165803971540,2018.01.05 08:04,81901.0,CH5300772960799401160,Francesco,Lafranchi,6943,Vezia,TI,it,ptan,0
9,2018.01.01 08:04,10000019.0,CHBANK71XXX,58463,MUBANK53XXX,MU03MCBL0901000001879025000USD,Mauritius,MU,MU53002331664794367,2018.01.05 20:04,81219.0,CH5300772221245992471,Thomas,Müller,6020,Emmenbrücke,LU,de,ptan,0
10,2018.01.01 08:05,10000020.0,CHBANK71XXX,28047,TLBANK77XXX,TL380030000000025923744,Timor-Leste,TL,TL77002478467515482,2018.01.06 08:05,82988.0,CH5300772132381653149,Marianne,Thommen,6010,Kriens,LU,de,ptan,0
11,2018.01.01 08:05,10000021.0,CHBANK71XXX,34877,IEBANK36XXX,IE02BOFI90008413113207,Irland,IE,IE36002181749991570,2018.01.06 20:05,69347.0,CH5300772240845017490,Martin,Michel,5025,Asp,AG,de,mtan,0
12,2018.01.01 08:06,10000022.0,CHBANK71XXX,95044,ROBANK65XXX,RO02BRDE445SV75163474450,Rumänien,RO,RO65002370700545600,2018.01.07 08:06,65696.0,CH5300772016240938397,Nicole,Müller,5000,Aarau,AG,de,ptan,0
13,2018.01.01 08:06,10000023.0,CHBANK71XXX,38364,SIBANK75XXX,SI56011006000005649,Slowenien,SI,SI75002701329844504,2018.01.07 20:06,71128.0,CH5300772739383984197,Maria,Kamm,9411,Reute AR,AR,de,ptan,0
14,2018.01.01 08:07,10000024.0,CHBANK71XXX,24329,TLBANK77XXX,TL380030000000025923744,Timor-Leste,TL,TL77002937103894024,2018.01.08 08:07,74345.0,CH5300772880064685383,Francesco,Ambrosini,6174,Sörenberg,LU,de,mtan,0
15,2018.01.01 08:07,10000025.0,CHBANK71XXX,44674,AZBANK13XXX,AZ04UBAZ04003214540060AZN001,Aserbaidschan,AZ,AZ13002591594429997,2018.01.08 20:07,73285.0,CH5300772796239326305,Sonja,Weber,9042,Speicher,AR,de,mtan,0
16,2018.01.01 08:08,10000026.0,CHBANK71XXX,39331,ALBANK11XXX,AL06202111090000000005012075,Albanien,AL,AL11002455265991578,2018.01.09 08:08,73093.0,CH5300772862883773110,Luca,Vanoni,6206,Neuenkirch,LU,de,ptan,0
17,2018.01.01 08:08,10000027.0,CHBANK71XXX,86339,LIBANK48XXX,LI0308800000022875748,Liechtenstein,LI,LI48002801529095836,2018.01.09 20:08,79309.0,CH5300772209784321705,Antonio,Zgraggen,6170,Schüpfheim,LU,de,mtan,0
18,2018.01.01 08:09,10000028.0,CHBANK71XXX,34418,JOBANK40XXX,JO02SCBL1260000000018525836101,Jordanien,JO,JO40002554865203826,2018.01.10 08:09,84200.0,CH5300772708834754110,Stefan,Elmiger,6142,Gettnau,LU,de,ptan,0
19,2018.01.01 08:09,10000029.0,CHBANK71XXX,41763,PTBANK64XXX,PT50003600409911001102673,Portugal,PT,PT64002322303614148,2018.01.10 20:09,80002.0,CH5300772138499742184,Andreas,König,9053,Teufen AR,AR,de,ptan,0
20,2018.01.01 08:10,10000030.0,CHBANK71XXX,10796,PLBANK63XXX,PL02103000190109780401676562,Polen,PL,PL63002924743127719,2018.01.11 08:10,71243.0,CH5300772808034796679,Thomas,Storni,6221,Rickenbach LU,LU,de,ptan,2
21,2018.01.01 08:10,10000031.0,CHBANK71XXX,78686,SIBANK75XXX,SI56011006000005649,Slowenien,SI,SI75002064006807228,2018.01.11 20:10,71413.0,CH5300772467555706368,Claudia,Pagnamenta,6215,Beromünster,LU,de,ptan,0
22,2018.01.01 08:11,10000032.0,CHBANK71XXX,52167,LTBANK49XXX,LT027300010134441147,Litauen,LT,LT49002970597532862,2018.01.12 08:11,80548.0,CH5300772473977025785,Daniel,Fischer,9044,Wald AR,AR,de,mtan,2
23,2018.01.01 08:11,10000033.0,CHBANK71XXX,58534,BHBANK14XXX,BH02CITI00001077181611,Bahrain,BH,BH14002580851471625,2018.01.12 20:11,69215.0,CH5300772055631479257,Daniel,Schmid,6005,Luzern,LU,de,ptan,0
24,2018.01.01 08:12,10000034.0,CHBANK71XXX,96992,SKBANK74XXX,SK0202000000003679748552,Slowakische Republik,SK,SK74002210413466429,2018.01.13 08:12,80765.0,CH5300772386154088514,Anna,Maggetti,6204,Sempach,LU,de,ptan,0
25,2018.01.01 08:12,10000035.0,CHBANK71XXX,80558,HUBANK82XXX,HU02116000060000000064247067,Ungarn,HU,HU82002767687557374,2018.01.13 20:12,66206.0,CH5300772992917813874,Esther,Schmid,6003,Luzern,LU,de,mtan,0
26,2018.01.01 08:13,10000036.0,CHBANK71XXX,86216,BYBANK84XXX,BY86AKBB10100000002966000000,Weissrussland,BY,BY84002757199583237,2018.01.14 08:13,78528.0,CH5300772136504997634,Alexandre,Perisset,1748,Torny-le-Grand,FR,fr,mtan,0
27,2018.01.01 08:13,10000037.0,CHBANK71XXX,54171,BGBANK19XXX,BG02RZBB91551002755190,Bulgarien,BG,BG19002465063108197,2018.01.14 20:13,85575.0,CH5300772332856805759,Andrea,Meier,6192,Wiggen,LU,de,ptan,0
28,2018.01.01 08:14,10000038.0,CHBANK71XXX,6073,LCBANK66XXX,LC55HEMM000100010012001200023015,Saint Lucia,LC,LC66002326281898951,2018.01.15 08:14,83771.0,CH5300772974414171485,Sandra,Fischer,6043,Adligenswil,LU,de,mtan,0
29,2018.01.01 08:14,10000039.0,CHBANK71XXX,25301,BEBANK15XXX,BE45096920886089,Belgien,BE,BE15002639727709489,2018.01.15 20:14,77571.0,CH5300772631156833580,Christian,Baroni,6233,Büron,LU,de,ptan,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,2018.01.01 09:47,10000225.0,CHBANK71XXX,17265,LIBANK48XXX,LI0308800000022875748,Liechtenstein,LI,LI48002881632823241,2018.04.18 21:47,80749.0,CH5300772109345716666,Michael,Wyss,6018,Buttisholz,LU,de,ptan,0
216,2018.01.01 09:48,10000226.0,CHBANK71XXX,17088,BYBANK84XXX,BY86AKBB10100000002966000000,Weissrussland,BY,BY84002872638188417,2018.04.19 09:48,67310.0,CH5300772377187407262,Ursula,Matzinger,9064,Hundwil,AR,de,ptan,0
217,2018.01.01 09:48,10000227.0,CHBANK71XXX,13999,QABANK42XXX,QA03QNBA000000000060565452001,Katar,QA,QA42002335259672839,2018.04.19 21:48,75016.0,CH5300772835973723915,Sara,Schneider,6196,Marbach LU,LU,de,ptan,0
218,2018.01.01 09:49,10000228.0,CHBANK71XXX,67483,MUBANK53XXX,MU03MCBL0901000001879025000USD,Mauritius,MU,MU53002577474108095,2018.04.20 09:49,78000.0,CH5300772604338970936,Andreas,Meyer,6005,Luzern,LU,de,ptan,0
219,2018.01.01 09:49,10000229.0,CHBANK71XXX,7042,MEBANK57XXX,ME25505120000000466170,Montenegro,ME,ME57002285558269642,2018.04.20 21:49,81466.0,CH5300772419909461332,Thomas,Riederer,6265,Roggliswil,LU,de,ptan,0
220,2018.01.01 09:50,10000230.0,CHBANK71XXX,87296,SVBANK24XXX,SV43ACAT00000000000000123123,El Salvador,SV,SV24002417308158098,2018.04.21 09:50,73020.0,CH5300772528852031904,Peter,Pangring,9426,Lutzenberg,AR,de,ptan,0
221,2018.01.01 09:50,10000231.0,CHBANK71XXX,18174,BHBANK14XXX,BH02CITI00001077181611,Bahrain,BH,BH14002245323267227,2018.04.21 21:50,72408.0,CH5300772377601366690,Monika,von Arx,6017,Ruswil,LU,de,ptan,0
222,2018.01.01 09:51,10000232.0,CHBANK71XXX,25120,JOBANK40XXX,JO02SCBL1260000000018525836101,Jordanien,JO,JO40002781611721184,2018.04.22 09:51,84622.0,CH5300772202000633990,Peter,Schnyder,6003,Luzern,LU,de,mtan,0
223,2018.01.01 09:51,10000233.0,CHBANK71XXX,55053,BEBANK15XXX,BE45096920886089,Belgien,BE,BE15002740534406047,2018.04.22 21:51,75476.0,CH5300772507081897762,Giuseppe,Rusconi,6182,Escholzmatt,LU,de,mtan,0
224,2018.01.01 09:52,10000234.0,CHBANK71XXX,19462,ATBANK60XXX,AT021100000622888600,Österreich,AT,AT60002492568327693,2018.04.23 09:52,67856.0,CH5300772065684460274,Maria,Bernasconi,6210,Sursee,LU,de,ptan,0
225,2018.01.01 09:52,10000235.0,CHBANK71XXX,39175,LVBANK46XXX,LV02HABA0551007820897,Lettland,LV,LV46002586123124209,2018.04.23 21:52,81525.0,CH5300772806370444315,Markus,Waser,6048,Horw,LU,de,mtan,0
226,2018.01.01 09:53,10000236.0,CHBANK71XXX,73534,GBBANK33XXX,GB11CITI18500811417983,Grossbritannien,GB,GB33002459745487879,2018.04.24 09:53,83742.0,CH5300772170304766314,Manuela,Brand,6170,Schüpfheim,LU,de,ptan,0
227,2018.01.01 09:53,10000237.0,CHBANK71XXX,88303,IEBANK36XXX,IE02BOFI90008413113207,Irland,IE,IE36002016098686860,2018.04.24 21:53,85537.0,CH5300772191982656294,Daniel,Baumgartner,9104,Waldstatt,AR,de,ptan,0
228,2018.01.01 09:54,10000238.0,CHBANK71XXX,90513,MCBANK56XXX,MC2412739000710075018000P14,Monaco,MC,MC56002553765255553,2018.04.25 09:54,83516.0,CH5300772734858445302,Eric,Jordan,1206,Genève,GE,fr,ptan,0
229,2018.01.01 09:54,10000239.0,CHBANK71XXX,24494,DKBANK21XXX,DK0220005036459478,Dänemark,DK,DK21002803012181732,2018.04.25 21:54,76509.0,CH5300772675470283420,Peter,Monhart,9044,Wald AR,AR,de,ptan,0
230,2018.01.01 09:55,10000240.0,CHBANK71XXX,66082,ROBANK65XXX,RO02BRDE445SV75163474450,Rumänien,RO,RO65002365563756300,2018.04.26 09:55,84818.0,CH5300772988668748443,Hans,Bolli,9100,Herisau,AR,de,mtan,0
231,2018.01.01 09:55,10000241.0,CHBANK71XXX,67754,FOBANK26XXX,FO1291810001441878,Färöer Inseln,FO,FO26002039249340888,2018.04.26 21:55,66935.0,CH5300772778307381510,Maria,Walker,6170,Schüpfheim,LU,de,ptan,0
232,2018.01.01 09:56,10000242.0,CHBANK71XXX,1216,FRBANK28XXX,FR7630006000011234567890189,Frankreich,FR,FR28002989836669223,2018.04.27 09:56,69086.0,CH5300772808023591110,Alessandra,Leoni,6713,Malvaglia,TI,it,mtan,0
233,2018.01.01 09:56,10000243.0,CHBANK71XXX,56596,BYBANK84XXX,BY86AKBB10100000002966000000,Weissrussland,BY,BY84002136936000716,2018.04.27 21:56,75720.0,CH5300772675149057428,Luca,Leoni,6208,Oberkirch LU,LU,de,ptan,0
234,2018.01.01 09:57,10000244.0,CHBANK71XXX,43965,GLBANK32XXX,GL2664710001504964,Grönland,GL,GL32002546495723370,2018.04.28 09:57,69325.0,CH5300772986010832124,Anita,Lorenzetti,6232,Geuensee,LU,de,ptan,0
235,2018.01.01 09:57,10000245.0,CHBANK71XXX,71686,ESBANK76XXX,ES1321000555370200853027,Spanien,ES,ES76002509965497990,2018.04.28 21:57,85496.0,CH5300772959923849928,Nicole,Weber,9035,Grub AR,AR,de,mtan,0
236,2018.01.01 09:58,10000246.0,CHBANK71XXX,52218,ISBANK37XXX,IS040116381002305610911109,Island,IS,IS37002663626161643,2018.04.29 09:58,75396.0,CH5300772965136206142,Daniel,Galenda,1470,Estavayer-le-Lac,FR,fr,mtan,0
237,2018.01.01 09:58,10000247.0,CHBANK71XXX,20758,ATBANK60XXX,AT021100000622888600,Österreich,AT,AT60002873074901040,2018.04.29 21:58,74096.0,CH5300772014860540553,Peter,Rossi,6222,Gunzwil,LU,de,ptan,0
238,2018.01.01 09:59,10000248.0,CHBANK71XXX,97128,JOBANK40XXX,JO02SCBL1260000000018525836101,Jordanien,JO,JO40002093368201596,2018.04.30 09:59,75201.0,CH5300772670836921036,Peter,Schneider,9056,Gais,AR,de,mtan,0
239,2018.01.01 09:59,10000249.0,CHBANK71XXX,79246,GBBANK33XXX,GB11CITI18500811417983,Grossbritannien,GB,GB33002921112730226,2018.04.30 21:59,85346.0,CH5300772141615798643,Olivier,Milincic,3280,Meyriez,FR,de,ptan,0
240,2018.01.01 10:00,10000250.0,CHBANK71XXX,37014,RSBANK72XXX,RS35105008054113238018,Serbien,RS,RS72002468861789350,2018.05.01 10:00,70045.0,CH5300772036991111060,Anna,Bürgin,6010,Kriens,LU,de,ptan,0
241,2018.01.01 10:00,10000251.0,CHBANK71XXX,74255,LCBANK66XXX,LC55HEMM000100010012001200023015,Saint Lucia,LC,LC66002983529331401,2018.05.01 22:00,85311.0,CH5300772178869716614,Andreas,Marbet,6017,Ruswil,LU,de,ptan,0
242,2018.01.01 10:01,10000252.0,CHBANK71XXX,73359,SEBANK70XXX,SE0230000000030301099952,Schweden,SE,SE70002318102153333,2018.05.02 10:01,76779.0,CH5300772708681386762,Christian,Pitschi,6260,Reiden,LU,de,ptan,0
243,2018.01.01 10:01,10000253.0,CHBANK71XXX,66420,SVBANK24XXX,SV43ACAT00000000000000123123,El Salvador,SV,SV24002623396021480,2018.05.02 22:01,82081.0,CH5300772079432786966,Martin,Wandfluh,5000,Aarau,AG,de,ptan,0
244,2018.01.01 10:02,10000254.0,CHBANK71XXX,70446,DKBANK21XXX,DK0220005036459478,Dänemark,DK,DK21002513892922076,2018.05.03 10:02,79624.0,CH5300772812010292088,Antonio,Locarnini,6503,Bellinzona,TI,it,ptan,0

#Ermittlung potenzieller Kundenrisikogruppen#

In [0]:
import pandas as pd
import numpy as np


# Laden der Transaktionsdaten 
trx_data_url = 'https://raw.githubusercontent.com/sakuronohana/cas_datenanalyse/master/Semesterarbeit/Dataset/trx_data.csv'

trx_data = pd.read_csv(trx_data_url)
trx_data.head()