<a href="https://colab.research.google.com/github/sakuronohana/cas_datenanalyse/blob/master/Semesterarbeit/CAS_DA_SA_Payment_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img 
src="https://www.ffhs.ch/templates/ffhs/img/logo@2x.png" width="100"> 
###DaAn, Data Analysis, MAS/CAS Web4B 2018, ZH1, FS19, Dr. Tödtli Beat###

##*Semesterarbeit von Patrik Di Lena*##
#Betrugserkennung Zahlungsverkehr#

##Ziel##
Auf der Grundlage von maschinellen Lernalgorithmen soll ein Betrugserkennungssystem für den Zahlungsverkehr einer ausschliesslich in der Schweiz tätigen Bank erstellt werden. Auf Basis historisierter Daten in Bezug auf das E-Banking Session- und Zahlungsverhalten von Bankkunden sollen mögliche Betrugsintensionen erkannt und für bestimmte Risikogruppen vorhergesagt werden.

##Aufgabenstellung##

Aus dem oben formulierten Ziel ergeben sich zwei wesentliche Aufgabenstellungen:
1.	Erkennung betrügerischer Handlungen im Zahlungsverkehr
2.	Ermittlung potenzieller Kundenrisikogruppen

##Betrugsanfällige Risikogruppen##
Die für den Betrug im Zahlungsverkehr anfälligen Gruppen werden auf Basis der folgenden Merkmale durch den Lernalgorithmus bestimmt:

*	Geschlecht
*	Alter
*	Zivilstand
*	Nationalität
*	Kontosaldo
*	Wohnort
*	Region
*	Zahlungsmethode (E-Rechnung, Einzahlungsschein etc.)
*	Rechtsform (Juristisch oder natürliche Person)

## Datensatz##
Die im Rahmen dieser Semesterarbeit verwendeten Daten entstammen, von ihrer Datenstruktur her, aus einem bereits eingesetzten nicht ML-basierten E-Banking Betrugserkennungssystem. Die Datenwerte wurde zu Wahrung der datenschutzrechtlichen und bankengesetzlichen Aspekte mit Hilfe des folgenden Python-Scripts künstlich erzeugt und beinhalten somit keine reale Zahlungs-, Kunden-, und betrugsspezifischen Informationen. Weiter wurden einige durch die Bank definierten Spezifikationen bzw. Merkmale aus sicherheitstechnischen Gründen umbenannt.  

Datenselektion:

- 5'000 synthetische Kunden (Vorname, Name, Strasse, Ort, Kanton, Sprachregion, Geschlecht, Alter, Zivilstand,  Nationalität, Kontonummer, Vertragsnummer, Rechtsform )

- 100'000 synthetische Zahlungen (Transaktionsid, ,Erstellungdatum/Zeit, Empfängerkonto, Empfängerbank, Empfängerland, Währung, Betrag, Valuta Datum)

###Datengeneratoren###

Während die Stammdaten hauptsächlich im Excel manuell von verschiedenen Quellen 

Datenquellen:

Open Government Data https://opendata.swiss/de/

###IBAN Generator###

In [0]:
# IBAN Generator

import datetime
import numpy as np
import pandas as pd

# Datenquellen Github
ibandb_url = 'https://raw.githubusercontent.com/sakuronohana/cas_datenanalyse/master/Semesterarbeit/Dataset/iban_list.csv'

# IBAN Generator in elektronischer Form

iban_cc = pd.read_csv(ibandb_url, delimiter=';')
iban_cc.columns=['Country','Code','Checkdig','Length','Sample','Bank']

# IBAN Gen. 1.Teil - Erstellung IBAN Länder- und Bankencode
code = np.random.choice(np.ravel(iban_cc['Code']).astype(str))
checkdig = np.random.choice(np.ravel(iban_cc['Checkdig']).astype(str))
iban_country_code = code + checkdig
iban_bank_code = np.random.choice((iban_cc.loc[iban_cc['Code'] == code])['Length']).astype(str)
iban_ccbc = iban_country_code + "00" + iban_bank_code 

# IBAN Gen. 2.Teil - Erstellung Kontonummer und Zusammensetzung der IBAN
eiban = []
for row in range(20):
    part_eiban = pd.DataFrame(np.int64(np.random.randint(2000000000000,3000000000000,20800)))
    eiban = iban_ccbc + part_eiban.astype(str)

# Zufällige Auswahl einer IBAN aus dem generierten Datensatz
eiban = np.ravel(eiban)
eiban = np.random.choice(eiban)
print (eiban)

LC7200322800994985921

###Payment Generator###

In [0]:
# Erstellung von Transaktionsdaten 

from datetime import datetime, timedelta
import numpy as np
import pandas as pd

# Bankbeziehungsdaten Datenquellen Github
ibandb_url = 'https://raw.githubusercontent.com/sakuronohana/cas_datenanalyse/master/Semesterarbeit/Dataset/iban_list.csv'

# IBAN Generator in elektronischer Form

iban_cc = pd.read_csv(ibandb_url, delimiter=';')
iban_cc.columns=['Country','Code','Checkdig','Length','IBAN','Bank']

# IBAN Gen. 1.Teil - Erstellung IBAN Länder- und Bankencode
code = np.random.choice(np.ravel(iban_cc['Code']).astype(str))
checkdig = np.random.choice(np.ravel(iban_cc['Checkdig']).astype(str))
iban_country_code = code + checkdig
iban_bank_code = np.random.choice((iban_cc.loc[iban_cc['Code'] == code])['Length']).astype(str)
iban_ccbc = iban_country_code + "00" + iban_bank_code 


# IBAN Gen. 2.Teil - Erstellung Kontonummer und Zusammensetzung der IBAN
eiban = []
for row in range(20):
    part_eiban = pd.DataFrame(np.int64(np.random.randint(2000000000000,3000000000000,20800)))
    eiban = iban_ccbc + part_eiban.astype(str)

# Zufällige Auswahl einer IBAN aus dem generierten Datensatz
eiban = np.ravel(eiban)
eiban = np.random.choice(eiban)

# Betrugseinstufung 
# Kein Fraud ist immer 0
fraud_ids = [[1,'External Caused Fraud (e.g. Trojans)'],[2,'Internal Caused Fraud (e.g. Employee)']]
df_fraud = pd.DataFrame(fraud_ids, columns=['Fraud ID', 'Description'])


# Bankkunden Stammdaten - Datenquellen Github
custdb_url = 'https://raw.githubusercontent.com/sakuronohana/cas_datenanalyse/master/Semesterarbeit/Dataset/cutomer_base_data.csv'

cust_data = pd.read_csv(custdb_url, delimiter=';')
cust_data.columns=['anrede','vorname','nachname','strasse','nr','plz','ort',
                   'kanton','sprachregion',	'nation',	'sexcode','mobile_nr',	
                   'vertrag_nr','konto_nr','auth_device']

# Importierte Kundendaten bereinigen
cust_data = cust_data.fillna(0)
cust_data_dtype = {'plz':int,'mobile_nr':int,'vertrag_nr':int}
cust_data = cust_data.astype(cust_data_dtype)

# Erstellung der Zahlungs-Basisinformationen 

#start_date = datetime(2018,1,1,8,0,0)
trx_data = pd.DataFrame(columns=['timestamp','paym_id','send_bc_nr','amount',
                                 'rcv_bc_nr','rcv_bc_iban','rcv_bc_country','rcv_bc_code',
                                 'valuta_date','cust_vertrag_nr','cust_konto_nr',
                                 'cust_vname','cust_nname','cust_plz','cust_ort',
                                'cust_kanton','cust_sprachregion','cust_auth_device',
                                'fraud_id'])

for i in range(1000):
    trx_data.loc[i,['timestamp']] = timestamps = pd.Timestamp(datetime(2018,1,1,8,0,0)+timedelta(seconds=30*i)).strftime("%Y.%m.%d %H:%M")
    trx_data.loc[i,['paym_id']] =  np.int64(np.random.randint(1000000000000,2000000000000,1))
    trx_data.loc[i,['send_bc_nr']] =  'CHBANK71XXX'
    trx_data.loc[i,['amount']] = np.int64(np.random.randint(100,100000,1)).astype(str)
    trx_data.loc[i,['rcv_bc_nr']] = bc_bank = np.random.choice(np.ravel(iban_cc['Bank']).astype(str))
    trx_data.loc[i,['rcv_bc_iban']] = np.ravel(iban_cc.loc[iban_cc['Bank'] == bc_bank,['IBAN']])
    trx_data.loc[i,['rcv_bc_country']] = np.ravel(iban_cc.loc[iban_cc['Bank'] == bc_bank,['Country']])
    trx_data.loc[i,['rcv_bc_code']] = np.ravel(iban_cc.loc[iban_cc['Bank'] == bc_bank,['Code']])
    timestamps = datetime.strptime(timestamps,"%Y.%m.%d %H:%M")
    trx_data.loc[i,['valuta_date']] = valuta = timestamps + timedelta(hours=12*i)
    trx_data.loc[i,['cust_vertrag_nr']] = cd_contract = np.random.choice(np.ravel(cust_data['vertrag_nr']))
    trx_data.loc[i,['cust_konto_nr']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['konto_nr']])
    trx_data.loc[i,['cust_vname']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['vorname']])
    trx_data.loc[i,['cust_nname']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['nachname']])
    trx_data.loc[i,['cust_plz']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['plz']])
    trx_data.loc[i,['cust_ort']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['ort']])
    trx_data.loc[i,['cust_kanton']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['kanton']])
    trx_data.loc[i,['cust_sprachregion']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['sprachregion']])
    trx_data.loc[i,['cust_auth_device']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['auth_device']])
    trx_data.loc[i,['fraud_id']] = 0
    

# Von allen durchgeführten Zahlungen hat das Fraud-Detection System 0.5% Betrugszahlungen erkannt. 
trx_data_fraud = trx_data.sample(frac=0.05)
#trx_data_fraud.fraud_id = ''

for x in range(len(trx_data_fraud)):
  trx_data_fraud.loc[x,['fraud_id']] = np.random.choice(np.ravel(df_fraud['Fraud ID']).astype(str))
  
trx_data_fraud.head(len(trx_data_fraud))

,timestamp,paym_id,send_bc_nr,amount,rcv_bc_nr,rcv_bc_iban,rcv_bc_country,rcv_bc_code,valuta_date,cust_vertrag_nr,cust_konto_nr,cust_vname,cust_nname,cust_plz,cust_ort,cust_kanton,cust_sprachregion,cust_auth_device,fraud_id
15,2018.01.01 08:07,1010718698660,CHBANK71XXX,81758,DEBANK22XXX,DE02100500000024290661,Deutschland,DE,2018-01-08 20:07:00,69184,CH5300772417225222412,Monika,Widmer,6023,Rothenburg,LU,de,ptan,2
70,2018.01.01 08:35,1241971860034,CHBANK71XXX,69123,MDBANK55XXX,MD14MO2224ASV41884097100,Moldawien,MD,2018-02-05 08:35:00,80122,CH5300772792503184264,Chantal,Kuhnen,5000,Aarau,AG,de,ptan,2
32,2018.01.01 08:16,1358359613199,CHBANK71XXX,10620,BEBANK15XXX,BE45096920886089,Belgien,BE,2018-01-17 08:16:00,83811,CH5300772849459482971,Agnes,Schmid,6130,Willisau,LU,de,ptan,2
68,2018.01.01 08:34,1646821977270,CHBANK71XXX,4321,ATBANK60XXX,AT021100000622888600,Österreich,AT,2018-02-04 08:34:00,79503,CH5300772711603690206,Nicole,Golay,1217,Meyrin,GE,fr,ptan,1
67,2018.01.01 08:33,1207760491172,CHBANK71XXX,85979,MUBANK53XXX,MU03MCBL0901000001879025000USD,Mauritius,MU,2018-02-03 20:33:00,66129,CH5300772712792438402,Ruth,Zimmermann,9100,Herisau,AR,de,ptan,1
31,2018.01.01 08:15,1278386546041,CHBANK71XXX,40404,MCBANK56XXX,MC2412739000710075018000P14,Monaco,MC,2018-01-16 20:15:00,78596,CH5300772608731226659,Margrit,Koch,6043,Adligenswil,LU,de,mtan,2
14,2018.01.01 08:07,1480408273295,CHBANK71XXX,70076,LTBANK49XXX,LT027300010134441147,Litauen,LT,2018-01-08 08:07:00,77634,CH5300772801213616390,Fabio,Pfister,6252,Dagmersellen,LU,de,ptan,1
28,2018.01.01 08:14,1086014177272,CHBANK71XXX,62456,SIBANK75XXX,SI56011006000005649,Slowenien,SI,2018-01-15 08:14:00,84820,CH5300772303771489744,Sonja,Fontana,6215,Schwarzenbach LU,LU,de,ptan,2
13,2018.01.01 08:06,1986017510510,CHBANK71XXX,44523,SMBANK67XXX,SM07U0854009803000030174419,San Marino,SM,2018-01-07 20:06:00,83114,CH5300772247367402341,Monika,Reutimann,9100,Herisau,AR,de,ptan,1
34,2018.01.01 08:17,1715082224892,CHBANK71XXX,7017,FRBANK28XXX,FR7630006000011234567890189,Frankreich,FR,2018-01-18 08:17:00,83589,CH5300772077818840769,Daniela,Trisconi,6815,Melide,TI,it,ptan,2
63,2018.01.01 08:31,1742364969756,CHBANK71XXX,71688,IQBANK35XXX,IQ20CBIQ861800101010500,Irak,IQ,2018-02-01 20:31:00,72329,CH5300772000779885707,Heidi,Holliger,6045,Meggen,LU,de,ptan,2
4,2018.01.01 08:02,1279108566914,CHBANK71XXX,57790,AEBANK83XXX,AE020090004001079346500,Vereinigte Arabische Emirate,AE,2018-01-03 08:02:00,79581,CH5300772937676139801,Thomas,Bittel,6003,Luzern,LU,de,ptan,2
77,2018.01.01 08:38,1242060776636,CHBANK71XXX,49890,ALBANK11XXX,AL06202111090000000005012075,Albanien,AL,2018-02-08 20:38:00,65047,CH5300772190767210796,Anna,Bucher,6102,Malters,LU,de,ptan,
16,2018.01.01 08:08,1442130102375,CHBANK71XXX,36445,DEBANK22XXX,DE02100500000024290661,Deutschland,DE,2018-01-09 08:08:00,66630,CH5300772500049122864,Marco,Beeler,6142,Gettnau,LU,de,ptan,2
60,2018.01.01 08:30,1290774403105,CHBANK71XXX,54929,GLBANK32XXX,GL2664710001504964,Grönland,GL,2018-01-31 08:30:00,79688,CH5300772304534758982,Thomas,Hugo,6003,Luzern,LU,de,ptan,1
22,2018.01.01 08:11,1105103999651,CHBANK71XXX,93259,ESBANK76XXX,ES1321000555370200853027,Spanien,ES,2018-01-12 08:11:00,78904,CH5300772740403884363,Maria,Pereira,1254,Jussy,GE,fr,ptan,1
53,2018.01.01 08:26,1201335165186,CHBANK71XXX,23890,TLBANK77XXX,TL380030000000025923744,Timor-Leste,TL,2018-01-27 20:26:00,73922,CH5300772000632300087,Anna,Rey,6044,Udligenswil,LU,de,ptan,1
47,2018.01.01 08:23,1280471056507,CHBANK71XXX,64259,ALBANK11XXX,AL06202111090000000005012075,Albanien,AL,2018-01-24 20:23:00,72289,CH5300772945144233697,Margrit,Müller,9410,Heiden,AR,de,mtan,2
64,2018.01.01 08:32,1098969551852,CHBANK71XXX,20132,STBANK68XXX,ST23000200000289355710148,Sao Tome und Principe,ST,2018-02-02 08:32:00,68601,CH5300772757761843121,Andreas,Iten,9052,Niederteufen,AR,de,ptan,2
37,2018.01.01 08:18,1151458471890,CHBANK71XXX,57127,CHBANK71XXX,CH020020720710117540C,Schweiz,CH,2018-01-19 20:18:00,70863,CH5300772225613437230,Sara,Zimmermann,6162,Entlebuch,LU,de,mtan,1
23,2018.01.01 08:11,1076718405479,CHBANK71XXX,93436,SMBANK67XXX,SM07U0854009803000030174419,San Marino,SM,2018-01-12 20:11:00,71199,CH5300772567627288713,Martin,Kohler,6034,Inwil,LU,de,ptan,2
62,2018.01.01 08:31,1046307515614,CHBANK71XXX,97856,HUBANK82XXX,HU02116000060000000064247067,Ungarn,HU,2018-02-01 08:31:00,67724,CH5300772838619079174,Peter,Burri,6103,Schwarzenberg LU,LU,de,ptan,1
26,2018.01.01 08:13,1045554223814,CHBANK71XXX,14577,DEBANK22XXX,DE02100500000024290661,Deutschland,DE,2018-01-14 08:13:00,74043,CH5300772067184406140,Patrick,Zuber,6005,Luzern,LU,de,ptan,2
59,2018.01.01 08:29,1840393186152,CHBANK71XXX,30855,GBBANK33XXX,GB11CITI18500811417983,Grossbritannien *2,GB,2018-01-30 20:29:00,72203,CH5300772933043456924,Ursula,Tanno,6275,Ballwil,LU,de,ptan,2
79,2018.01.01 08:39,1059126245839,CHBANK71XXX,34139,BGBANK19XXX,BG02RZBB91551002755190,Bulgarien,BG,2018-02-09 20:39:00,66425,CH5300772863568560154,Ruth,Staub,6153,Ufhusen,LU,de,ptan,
0,2018.01.01 08:00,1665089003869,CHBANK71XXX,36259,SKBANK74XXX,SK0202000000003679748552,Slowakische Republik,SK,2018-01-01 08:00:00,83018,CH5300772120896534607,Maria,Rakotomalala,1226,Thônex,GE,fr,ptan,1
29,2018.01.01 08:14,1340885152982,CHBANK71XXX,69025,CZBANK79XXX,CZ0201000000199216760237,Tschechien,CZ,2018-01-15 20:14:00,76595,CH5300772266586784992,Gian,Casutt,6247,Schötz,LU,de,mtan,2
57,2018.01.01 08:28,1088339320970,CHBANK71XXX,1563,HRBANK44XXX,HR0223400093216312031,Kroatien,HR,2018-01-29 20:28:00,74707,CH5300772112502666539,Peter,Senn,9056,Gais,AR,de,mtan,1
72,2018.01.01 08:36,1105570890262,CHBANK71XXX,69512,ALBANK11XXX,AL06202111090000000005012075,Albanien,AL,2018-02-06 08:36:00,85665,CH5300772858236822993,Ursula,Fontana,6992,Cimo,TI,it,ptan,
39,2018.01.01 08:19,1372506536400,CHBANK71XXX,88948,BRBANK17XXX,BR0200000000010670000117668C1,Brasilien,BR,2018-01-20 20:19:00,73545,CH5300772720262399436,Nicole,Weber,9042,Speicher,AR,de,mtan,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,2018.01.01 08:13,1568799848550,CHBANK71XXX,78740,BRBANK17XXX,BR0200000000010670000117668C1,Brasilien,BR,2018-01-14 20:13:00,81190,CH5300772943231560864,Peter,Holliger,6045,Meggen,LU,de,ptan,1
42,2018.01.01 08:21,1744804989614,CHBANK71XXX,31791,MDBANK55XXX,MD14MO2224ASV41884097100,Moldawien,MD,2018-01-22 08:21:00,80235,CH5300772072018122174,Claudia,Franconi,6654,Cavigliano,TI,it,mtan,1
10,2018.01.01 08:05,1631207438325,CHBANK71XXX,71783,LUBANK50XXX,LU020019175546294000,Luxemburg,LU,2018-01-06 08:05:00,74070,CH5300772165631576768,Andreas,Moser,6020,Emmenbrücke,LU,de,ptan,2
12,2018.01.01 08:06,1113195559241,CHBANK71XXX,87197,MDBANK55XXX,MD14MO2224ASV41884097100,Moldawien,MD,2018-01-07 08:06:00,65917,CH5300772152263436233,Andreas,Kühne,9410,Heiden,AR,de,mtan,2
78,2018.01.01 08:39,1538980996533,CHBANK71XXX,40202,GRBANK31XXX,GR0201102160000021661309175,Griechenland,GR,2018-02-09 08:39:00,73140,CH5300772319430369954,Thomas,Pfister,9105,Schönengrund,AR,de,mtan,
17,2018.01.01 08:08,1655432271148,CHBANK71XXX,14525,UABANK81XXX,UA123052990004149497803982794,Ukraine,UA,2018-01-09 20:08:00,79444,CH5300772924386428529,Gian,Jenny,6242,Wauwil,LU,de,ptan,2
35,2018.01.01 08:17,1914480226993,CHBANK71XXX,60268,ISBANK37XXX,IS040116381002305610911109,Island,IS,2018-01-18 20:17:00,82716,CH5300772611551441493,Peter,Berger,9042,Speicher,AR,de,ptan,2
1,2018.01.01 08:00,1505045526591,CHBANK71XXX,6298,DKBANK21XXX,DK0220005036459478,Dänemark,DK,2018-01-01 20:00:00,68215,CH5300772342907391657,Monika,Fux,5735,Pfeffikon LU,LU,de,ptan,2
54,2018.01.01 08:27,1932940143761,CHBANK71XXX,2191,CYBANK85XXX,CY02002001950000357009822416,Zypern,CY,2018-01-28 08:27:00,65430,CH5300772990167579811,Maria,Lambert,1723,Pierrafortscha,FR,fr,ptan,2
7,2018.01.01 08:03,1290718239617,CHBANK71XXX,92777,MUBANK53XXX,MU03MCBL0901000001879025000USD,Mauritius,MU,2018-01-04 20:03:00,78363,CH5300772364655636389,Barbara,Weber,9107,Urnäsch,AR,de,mtan,1
46,2018.01.01 08:23,1025753482244,CHBANK71XXX,59272,TNBANK80XXX,TN5901026067111999766058,Tunesien,TN,2018-01-24 08:23:00,80436,CH5300772155406429960,Monika,Kropf,4915,St. Urban,LU,de,mtan,1
76,2018.01.01 08:38,1387631885639,CHBANK71XXX,41346,MUBANK53XXX,MU03MCBL0901000001879025000USD,Mauritius,MU,2018-02-08 08:38:00,81602,CH5300772418315223064,Andreas,Schmid,9100,Herisau,AR,de,ptan,
58,2018.01.01 08:29,1376726947861,CHBANK71XXX,69423,SVBANK24XXX,SV43ACAT00000000000000123123,El Salvador,SV,2018-01-30 08:29:00,84677,CH5300772703992080154,Andrea,Zamaroni,6721,Ludiano,TI,it,mtan,2
69,2018.01.01 08:34,1226642416649,CHBANK71XXX,71943,MKBANK54XXX,MK07200000625758632,Mazedonien,MK,2018-02-04 20:34:00,72766,CH5300772322516672928,Catherine,King Rojo,3213,Liebistorf,FR,de,mtan,2
51,2018.01.01 08:25,1996318404108,CHBANK71XXX,74605,GTBANK34XXX,GT24CITI01010000000004146026,Guatemala,GT,2018-01-26 20:25:00,85473,CH5300772173723289172,Monika,Eggs,6003,Luzern,LU,de,ptan,1
43,2018.01.01 08:21,1981126130118,CHBANK71XXX,40512,ISBANK37XXX,IS040116381002305610911109,Island,IS,2018-01-22 20:21:00,81391,CH5300772003588591599,Luca,Müller,6152,Hüswil,LU,de,mtan,2
18,2018.01.01 08:09,1286824928412,CHBANK71XXX,21175,SKBANK74XXX,SK0202000000003679748552,Slowakische Republik,SK,2018-01-10 08:09:00,68811,CH5300772417284559960,Daniela,Walker,6170,Schüpfheim,LU,de,ptan,2
9,2018.01.01 08:04,1829135834646,CHBANK71XXX,57063,BGBANK19XXX,BG02RZBB91551002755190,Bulgarien,BG,2018-01-05 20:04:00,65052,CH5300772018377944183,Thomas,Wolf,9411,Reute AR,AR,de,ptan,1
24,2018.01.01 08:12,1279189705566,CHBANK71XXX,86151,NLBANK58XXX,NL02ABNA0457180536,Niederlande,NL,2018-01-13 08:12:00,80744,CH5300772922936964605,Elisabeth,Läubli,9100,Herisau,AR,de,ptan,1
41,2018.01.01 08:20,1639481560973,CHBANK71XXX,46565,SABANK69XXX,SA0220000002480647579940,Saudi Arabien,SA,2018-01-21 20:20:00,83123,CH5300772401589887368,Ruth,Grischott,6280,Hochdorf,LU,de,ptan,2
73,2018.01.01 08:36,1934468782789,CHBANK71XXX,9166,PSBANK62XXX,PS06ARAB000000009040781605610,Palästina,PS,2018-02-06 20:36:00,80240,CH5300772619906238137,Nicolas,Zurbriggen,5033,Buchs AG,AG,de,mtan,
55,2018.01.01 08:27,1395097761661,CHBANK71XXX,457,CYBANK85XXX,CY02002001950000357009822416,Zypern,CY,2018-01-28 20:27:00,83851,CH5300772313598971026,Monika,Frei,9100,Herisau,AR,de,ptan,1
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [0]:


import pandas as pd
from random import randint

df = pd.DataFrame(columns=['A','B','C','D','E'])

for i in range(5): #add 5 rows of data
    df.loc[i, ['A']] = randint(0,99)
    df.loc[i, ['B']] = randint(0,99)
    df.loc[i, ['C']] = randint(0,99)
    df.loc[i, ['D']] = randint(0,99)
    df.loc[i, ['E']] = randint(0,99)
    
df

      A     B     C     D     E
0  82.0  93.0   1.0   5.0   8.0
1   4.0  34.0  45.0  13.0  88.0
2  87.0  41.0  54.0  41.0  43.0
3  81.0  44.0  98.0   3.0  83.0
4  47.0  52.0  20.0  45.0  60.0