<a href="https://colab.research.google.com/github/sakuronohana/cas_datenanalyse/blob/master/Semesterarbeit/CAS_DA_SA_Payment_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img 
src="https://www.ffhs.ch/templates/ffhs/img/logo@2x.png" width="100"> 
###DaAn, Data Analysis, MAS/CAS Web4B 2018, ZH1, FS19, Dr. Tödtli Beat###

##*Semesterarbeit von Patrik Di Lena*##
#Betrugserkennung Zahlungsverkehr#

##Ziel##
Auf der Grundlage von maschinellen Lernalgorithmen soll ein Betrugserkennungssystem für den Zahlungsverkehr einer ausschliesslich in der Schweiz tätigen Bank erstellt werden. Auf Basis historisierter Daten in Bezug auf das E-Banking Session- und Zahlungsverhalten von Bankkunden sollen mögliche Betrugsintensionen erkannt und für bestimmte Risikogruppen vorhergesagt werden.

##Aufgabenstellung##

Aus dem oben formulierten Ziel ergeben sich zwei wesentliche Aufgabenstellungen:
1.	Erkennung betrügerischer Handlungen im Zahlungsverkehr
2.	Ermittlung potenzieller Kundenrisikogruppen

##Betrugsanfällige Risikogruppen##
Die für den Betrug im Zahlungsverkehr anfälligen Gruppen werden auf Basis der folgenden Merkmale durch den Lernalgorithmus bestimmt:

*	Geschlecht
*	Alter
*	Zivilstand
*	Nationalität
*	Kontosaldo
*	Wohnort
*	Region
*	Zahlungsmethode (E-Rechnung, Einzahlungsschein etc.)
*	Rechtsform (Juristisch oder natürliche Person)

## Datensatz##
Die im Rahmen dieser Semesterarbeit verwendeten Daten entstammen, von ihrer Datenstruktur her, aus einem bereits eingesetzten nicht ML-basierten E-Banking Betrugserkennungssystem. Die Datenwerte wurde zu Wahrung der datenschutzrechtlichen und bankengesetzlichen Aspekte mit Hilfe des folgenden Python-Scripts künstlich erzeugt und beinhalten somit keine reale Zahlungs-, Kunden-, und betrugsspezifischen Informationen. Weiter wurden einige durch die Bank definierten Spezifikationen bzw. Merkmale aus sicherheitstechnischen Gründen umbenannt.  

Datenselektion:

- 5'000 synthetische Kunden (Vorname, Name, Strasse, Ort, Kanton, Sprachregion, Geschlecht, Alter, Zivilstand,  Nationalität, Kontonummer, Vertragsnummer, Rechtsform )

- 100'000 synthetische Zahlungen (Transaktionsid, ,Erstellungdatum/Zeit, Empfängerkonto, Empfängerbank, Empfängerland, Währung, Betrag, Valuta Datum)

###Datengeneratoren###

Während die Stammdaten hauptsächlich im Excel manuell von verschiedenen Quellen 

Datenquellen:

Open Government Data https://opendata.swiss/de/

###IBAN Generator###

In [107]:
# IBAN Generator

import datetime
import numpy as np
import pandas as pd

# Datenquellen Github
ibandb_url = 'https://raw.githubusercontent.com/sakuronohana/cas_datenanalyse/master/Semesterarbeit/Dataset/iban_list.csv'

# IBAN Generator in elektronischer Form

iban_cc = pd.read_csv(ibandb_url, delimiter=';')
iban_cc.columns=['Country','Code','Checkdig','Length','Sample','Bank']

# IBAN Gen. 1.Teil - Erstellung IBAN Länder- und Bankencode
code = np.random.choice(np.ravel(iban_cc['Code']).astype(str))
checkdig = np.random.choice(np.ravel(iban_cc['Checkdig']).astype(str))
iban_country_code = code + checkdig
iban_bank_code = np.random.choice((iban_cc.loc[iban_cc['Code'] == code])['Length']).astype(str)
iban_ccbc = iban_country_code + "00" + iban_bank_code 

# IBAN Gen. 2.Teil - Erstellung Kontonummer und Zusammensetzung der IBAN
eiban = []
for row in range(20):
    part_eiban = pd.DataFrame(np.int64(np.random.randint(2000000000000,3000000000000,20800)))
    eiban = iban_ccbc + part_eiban.astype(str)

# Zufällige Auswahl einer IBAN aus dem generierten Datensatz
eiban = np.ravel(eiban)
eiban = np.random.choice(eiban)
print (eiban)

LC7200322800994985921

###Payment Generator###

In [23]:
# Erstellung von Transaktionsdaten 

from datetime import datetime, timedelta
import numpy as np
import pandas as pd

# Bankbeziehungsdaten Datenquellen Github
ibandb_url = 'https://raw.githubusercontent.com/sakuronohana/cas_datenanalyse/master/Semesterarbeit/Dataset/iban_list.csv'

# IBAN Generator in elektronischer Form

iban_cc = pd.read_csv(ibandb_url, delimiter=';')
iban_cc.columns=['Country','Code','Checkdig','Length','IBAN','Bank']

# IBAN Gen. 1.Teil - Erstellung IBAN Länder- und Bankencode
code = np.random.choice(np.ravel(iban_cc['Code']).astype(str))
checkdig = np.random.choice(np.ravel(iban_cc['Checkdig']).astype(str))
iban_country_code = code + checkdig
iban_bank_code = np.random.choice((iban_cc.loc[iban_cc['Code'] == code])['Length']).astype(str)
iban_ccbc = iban_country_code + "00" + iban_bank_code 


# IBAN Gen. 2.Teil - Erstellung Kontonummer und Zusammensetzung der IBAN
eiban = []
for row in range(20):
    part_eiban = pd.DataFrame(np.int64(np.random.randint(2000000000000,3000000000000,20800)))
    eiban = iban_ccbc + part_eiban.astype(str)

# Zufällige Auswahl einer IBAN aus dem generierten Datensatz
eiban = np.ravel(eiban)
eiban = np.random.choice(eiban)

# Betrugseinstufung 
fraud_ids = [[0,'No Fraud'],[1,'External Caused Fraud (e.g. Trojans)'],[2,'Internal Caused Fraud (e.g. Employee)']]
df_fraud = pd.DataFrame(fraud_ids, columns=['Fraud ID', 'Description'])


# Bankkunden Stammdaten - Datenquellen Github
custdb_url = 'https://raw.githubusercontent.com/sakuronohana/cas_datenanalyse/master/Semesterarbeit/Dataset/cutomer_base_data.csv'

cust_data = pd.read_csv(custdb_url, delimiter=';')
cust_data.columns=['anrede','vorname','nachname','strasse','nr','plz','ort',
                   'kanton','sprachregion',	'nation',	'sexcode','mobile_nr',	
                   'vertrag_nr','konto_nr','auth_device']

# Importierte Kundendaten bereinigen
cust_data = cust_data.fillna(0)
cust_data_dtype = {'plz':int,'mobile_nr':int,'vertrag_nr':int}
cust_data = cust_data.astype(cust_data_dtype)

# Zufallsauswahl Kundendaten mittels Vetragsnummer
cd_contract = np.random.choice(np.ravel(cust_data['vertrag_nr']))


# Erstellung der Zahlungs-Basisinformationen 

#start_date = datetime(2018,1,1,8,0,0)
trx_data = pd.DataFrame(columns=['timestamp','paym_id','send_bc_nr','amount',
                                 'rcv_bc_nr','rcv_bc_iban','rcv_bc_country','rcv_bc_code',
                                 'valuta_date','cust_vertrag_nr','cust_konto_nr',
                                 'cust_vname','cust_nname','cust_plz','cust_ort',
                                'cust_kanton','cust_sprachregion','cust_auth_device',
                                'fraud_id'])

for i in range(30):
    trx_data.loc[i,['timestamp']] = timestamps = pd.Timestamp(datetime(2018,1,1,8,0,0)+timedelta(seconds=30*i)).strftime("%Y.%m.%d %H:%M")
    trx_data.loc[i,['paym_id']] =  np.int64(np.random.randint(1000000000000,2000000000000,1))
    trx_data.loc[i,['send_bc_nr']] =  'CHBANK71XXX'
    trx_data.loc[i,['amount']] = np.int64(np.random.randint(100,100000,1)).astype(str)
    trx_data.loc[i,['rcv_bc_nr']] = bc_bank = np.random.choice(np.ravel(iban_cc['Bank']).astype(str))
    trx_data.loc[i,['rcv_bc_iban']] = np.ravel(iban_cc.loc[iban_cc['Bank'] == bc_bank,['IBAN']])
    trx_data.loc[i,['rcv_bc_country']] = np.ravel(iban_cc.loc[iban_cc['Bank'] == bc_bank,['Country']])
    trx_data.loc[i,['rcv_bc_code']] = np.ravel(iban_cc.loc[iban_cc['Bank'] == bc_bank,['Code']])
    timestamps = datetime.strptime(timestamps,"%Y.%m.%d %H:%M")
    trx_data.loc[i,['valuta_date']] = valuta = timestamps + timedelta(hours=12*i)
    trx_data.loc[i,['cust_vertrag_nr']] = cd_contract = np.random.choice(np.ravel(cust_data['vertrag_nr']))
    trx_data.loc[i,['cust_konto_nr']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['konto_nr']])
    trx_data.loc[i,['cust_vname']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['vorname']])
    trx_data.loc[i,['cust_nname']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['nachname']])
    trx_data.loc[i,['cust_plz']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['plz']])
    trx_data.loc[i,['cust_ort']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['ort']])
    trx_data.loc[i,['cust_kanton']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['kanton']])
    trx_data.loc[i,['cust_sprachregion']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['sprachregion']])
    trx_data.loc[i,['cust_auth_device']] = np.ravel(cust_data.loc[cust_data['vertrag_nr'] == cd_contract,['auth_device']])
    trx_data.loc[i,['fraud_id']] = np.random.choice(np.ravel(df_fraud['Fraud ID']))
    
trx_data.head(30)

,timestamp,paym_id,send_bc_nr,amount,rcv_bc_nr,rcv_bc_iban,rcv_bc_country,rcv_bc_code,valuta_date,cust_vertrag_nr,cust_konto_nr,cust_vname,cust_nname,cust_plz,cust_ort,cust_kanton,cust_sprachregion,cust_auth_device,fraud_id
0,2018.01.01 08:00,1155648892388,CHBANK71XXX,88181,LIBANK48XXX,LI0308800000022875748,Liechtenstein,LI,2018-01-01 08:00:00,77996,CH5300772846995578918,Roland,Varonier,6003,Luzern,LU,de,mtan,1
1,2018.01.01 08:00,1949501274640,CHBANK71XXX,83021,LIBANK48XXX,LI0308800000022875748,Liechtenstein,LI,2018-01-01 20:00:00,83182,CH5300772074474437476,Philippe,Liardet,1292,Chambésy,GE,fr,ptan,2
2,2018.01.01 08:01,1240259871057,CHBANK71XXX,19857,RSBANK72XXX,RS35105008054113238018,Serbien,RS,2018-01-02 08:01:00,75244,CH5300772583139057946,Beatrice,Meier,6147,Altbüron,LU,de,mtan,1
3,2018.01.01 08:01,1012534481181,CHBANK71XXX,9743,IQBANK35XXX,IQ20CBIQ861800101010500,Irak,IQ,2018-01-02 20:01:00,67554,CH5300772185482691994,Susanne,Schneider,6264,Pfaffnau,LU,de,ptan,0
4,2018.01.01 08:02,1798406214420,CHBANK71XXX,83397,PTBANK64XXX,PT50003600409911001102673,Portugal,PT,2018-01-03 08:02:00,67885,CH5300772400707391109,Ursula,von Känel,5000,Aarau,AG,de,ptan,1
5,2018.01.01 08:02,1862706078567,CHBANK71XXX,92828,FIBANK27XXX,FI0210403500314392,Finnland,FI,2018-01-03 20:02:00,79502,CH5300772251130418594,Michael,Müller,6020,Emmenbrücke,LU,de,ptan,0
6,2018.01.01 08:03,1335527595377,CHBANK71XXX,98592,KZBANK41XXX,KZ04319C010005569698,Kasachstan,KZ,2018-01-04 08:03:00,83386,CH5300772978497169951,Christine,Khan,1723,Marly,FR,fr,ptan,2
7,2018.01.01 08:03,1951176604432,CHBANK71XXX,10396,PSBANK62XXX,PS06ARAB000000009040781605610,Palästina,PS,2018-01-04 20:03:00,71814,CH5300772094098836834,Anna,Gianolli,6213,Knutwil,LU,de,ptan,1
8,2018.01.01 08:04,1497774492207,CHBANK71XXX,31032,FRBANK28XXX,FR7630006000011234567890189,Frankreich,FR,2018-01-05 08:04:00,70708,CH5300772460881113739,Maria,Zufferey,6004,Luzern,LU,de,mtan,2
9,2018.01.01 08:04,1679691695596,CHBANK71XXX,99455,BRBANK17XXX,BR0200000000010670000117668C1,Brasilien,BR,2018-01-05 20:04:00,84875,CH5300772222859775142,Patrick,Vögele,6032,Emmen,LU,de,ptan,2
10,2018.01.01 08:05,1267900912893,CHBANK71XXX,38496,ROBANK65XXX,RO02BRDE445SV75163474450,Rumänien,RO,2018-01-06 08:05:00,68980,CH5300772869690397083,Francesco,Colombini,6174,Sörenberg,LU,de,ptan,0
11,2018.01.01 08:05,1087040124845,CHBANK71XXX,52846,FOBANK26XXX,FO1291810001441878,Färöer Inseln,FO,2018-01-06 20:05:00,65424,CH5300772574861319807,Daniele,Riccio,6807,Taverne,TI,it,ptan,1
12,2018.01.01 08:06,1343138338843,CHBANK71XXX,81892,ILBANK38XXX,IL020108380000002149431,Israel,IL,2018-01-07 08:06:00,73060,CH5300772161202656520,Andrea,Cavargna,6818,Melano,TI,it,ptan,2
13,2018.01.01 08:06,1953880852760,CHBANK71XXX,84234,EEBANK25XXX,EE021700017000459042,Estland,EE,2018-01-07 20:06:00,83686,CH5300772733024892397,Hans,Schuler,6166,Hasle LU,LU,de,ptan,1
14,2018.01.01 08:07,1991918225298,CHBANK71XXX,73336,PLBANK63XXX,PL02103000190109780401676562,Polen,PL,2018-01-08 08:07:00,78041,CH5300772814974689199,Peter,Zaugg,5000,Aarau,AG,de,ptan,0
15,2018.01.01 08:07,1309450335063,CHBANK71XXX,27757,NLBANK58XXX,NL02ABNA0457180536,Niederlande,NL,2018-01-08 20:07:00,80892,CH5300772397546784453,Josef,Iseli,6020,Emmenbrücke,LU,de,mtan,1
16,2018.01.01 08:08,1923615212241,CHBANK71XXX,71440,MUBANK53XXX,MU03MCBL0901000001879025000USD,Mauritius,MU,2018-01-09 08:08:00,85402,CH5300772372591379486,Kurt,Immoos,6170,Schüpfheim,LU,de,ptan,1
17,2018.01.01 08:08,1287091798644,CHBANK71XXX,3168,LCBANK66XXX,LC55HEMM000100010012001200023015,Saint Lucia,LC,2018-01-09 20:08:00,72761,CH5300772594640588706,Elisabeth,Brantschen,5735,Pfeffikon LU,LU,de,ptan,0
18,2018.01.01 08:09,1661132094833,CHBANK71XXX,84309,SVBANK24XXX,SV43ACAT00000000000000123123,El Salvador,SV,2018-01-10 08:09:00,70954,CH5300772016650579609,Peter,Hari,5000,Aarau,AG,de,ptan,1
19,2018.01.01 08:09,1260911657274,CHBANK71XXX,38288,SKBANK74XXX,SK0202000000003679748552,Slowakische Republik,SK,2018-01-10 20:09:00,73201,CH5300772239683845836,Andreas,Schmid,9107,Urnäsch,AR,de,ptan,2
20,2018.01.01 08:10,1786927651037,CHBANK71XXX,96853,ROBANK65XXX,RO02BRDE445SV75163474450,Rumänien,RO,2018-01-11 08:10:00,67485,CH5300772480065191106,Matteo,Gisler,6170,Schüpfheim,LU,de,ptan,0
21,2018.01.01 08:10,1291725669764,CHBANK71XXX,29799,IQBANK35XXX,IQ20CBIQ861800101010500,Irak,IQ,2018-01-11 20:10:00,66802,CH5300772302965600035,Sandra,Schmid,9044,Wald AR,AR,de,ptan,0
22,2018.01.01 08:11,1996859288298,CHBANK71XXX,41700,DOBANK23XXX,DO22BCBH00000000011003290022,Dominikanische Republik,DO,2018-01-12 08:11:00,82783,CH5300772624062658043,Ana,Rochat,3280,Murten,FR,de,ptan,0
23,2018.01.01 08:11,1142303884389,CHBANK71XXX,26724,GRBANK31XXX,GR0201102160000021661309175,Griechenland,GR,2018-01-12 20:11:00,66973,CH5300772511912455035,Josef,Hüsler,6130,Willisau,LU,de,mtan,0
24,2018.01.01 08:12,1438194975161,CHBANK71XXX,3027,PKBANK61XXX,PK02SCBL0000001925518401,Pakistan,PK,2018-01-13 08:12:00,68814,CH5300772763461795669,Michael,Meier,9053,Teufen AR,AR,de,ptan,1
25,2018.01.01 08:12,1505532679685,CHBANK71XXX,63667,GEBANK29XXX,GE02TB7523045063700002,Georgia,GE,2018-01-13 20:12:00,74770,CH5300772146009685768,Thomas,Müller,9037,Speicherschwendi,AR,de,ptan,2
26,2018.01.01 08:13,1662473517321,CHBANK71XXX,55903,STBANK68XXX,ST23000200000289355710148,Sao Tome und Principe,ST,2018-01-14 08:13:00,75060,CH5300772832795579368,Marcel,Bamert,9428,Walzenhausen,AR,de,ptan,1
27,2018.01.01 08:13,1094924335678,CHBANK71XXX,63480,RSBANK72XXX,RS35105008054113238018,Serbien,RS,2018-01-14 20:13:00,68484,CH5300772293364183092,Nicolas,Bouvard,1212,Grand-Lancy,GE,fr,mtan,1
28,2018.01.01 08:14,1069565958007,CHBANK71XXX,12780,ESBANK76XXX,ES1321000555370200853027,Spanien,ES,2018-01-15 08:14:00,68547,CH5300772731507059084,Christian,Burgener,5033,Buchs AG,AG,de,ptan,2
29,2018.01.01 08:14,1444403044015,CHBANK71XXX,7768,MCBANK56XXX,MC2412739000710075018000P14,Monaco,MC,2018-01-15 20:14:00,80524,CH5300772436242724936,Petra,Zulauf,6030,Ebikon,LU,de,mtan,1

In [149]:


import pandas as pd
from random import randint

df = pd.DataFrame(columns=['A','B','C','D','E'])

for i in range(5): #add 5 rows of data
    df.loc[i, ['A']] = randint(0,99)
    df.loc[i, ['B']] = randint(0,99)
    df.loc[i, ['C']] = randint(0,99)
    df.loc[i, ['D']] = randint(0,99)
    df.loc[i, ['E']] = randint(0,99)
    
df

      A     B     C     D     E
0  82.0  93.0   1.0   5.0   8.0
1   4.0  34.0  45.0  13.0  88.0
2  87.0  41.0  54.0  41.0  43.0
3  81.0  44.0  98.0   3.0  83.0
4  47.0  52.0  20.0  45.0  60.0