<a href="https://colab.research.google.com/github/sakuronohana/cas_datenanalyse/blob/master/CAS-DA-SA-Script_synth_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#CAS DA - Semesterarbeit - Erstellung synthetische Daten#

In [28]:
import pandas as pd
import numpy as np


contract_no = np.random.randint(1000000, size=1000000)
payment_amount = np.random.randint(1000000, size=1000000)
df = pd.DataFrame (contract_no, payment_amount, columns=['Vertragsnummer'])
df

        Vertragsnummer
22226           269100
808565          695690
982230          909370
571034          379010
518588          721950
724824          866507
84022           309310
137704          218231
51504           805204
161693          622113
14212           495743
534165          305431
425511          488754
509920          651685
504763          229315
950133          984658
227473          905852
734193          127780
623091          104963
44834           837241
434427          890775
573544          630552
867886          298915
319815          991695
479204          704351
197559          500171
846272          632595
736419          266938
569249          778684
905637          773503
...                ...
388403          808693
588699          692308
101434          369191
497587          201918
399884          517742
795899          202992
236227          115841
786864          624709
417697          781894
604152          687461
344374          890990
679921          418132
242571          483323
360982          823068
905245          623241
545093          943974
45616           590547
634432          601633
401426          245857
876427          823780
2684            838997
829502          153036
379419          479750
568078          147766
106860          369937
778266          967182
951626          294364
385743          465019
982686          279454
767728           25466

[1000000 rows x 1 columns]

In [0]:
np.random.randint?