<a href="https://colab.research.google.com/github/sakuronohana/cas_datenanalyse/blob/master/PVA2/PVA2_Kollab_Aufgabe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Kollaborative Aufgabe: Analyse des erstellten Zeichen-Datensatzes##

Ihre erste Aufgabe mit diesem Datensatz ist es, sich einen Überblick zu verschaffen. 

* Welche 5-fach cross-validierte Genauigkeit erreichen Sie in der Vorhersage von '+','x' und 'o'? Wenden Sie auf den Datensatz die besprochenen Klassifizierungen an und versuchen Sie, Ihr Featureengineering zu verbessern. Ein vorläufiges Ergebnis genügt hier vorerst. Konzentrieren Sie sich eher auf das Verständnis des Datensatzes  und das Feature Engineering. Wir werden später noch Klassifikatoren kennenlernen, welche wir ausführlicher Testen wollen.

* Zusätzliche Fragen:

  * Welche Studierenden haben einfache, welche schwierige Teildatensätze beigetragen?
  * Ist es möglich, Teildatensätze von Studierenden zu identifizieren? Untersuchen Sie Ihren eigenen Datensatz: Finden Sie eine einfache Methode, um die von Ihnen beigetragenen Zeilen (nur!) an Hand der Pixelwerte zu identifizieren? Wenn ja teilen sie dies Ihren Mitstudierenden im Forum mit! Dies erleichtert möglicherweise die Klassifikationsaufgabe über alle Bilder, und ist daher für alle von Interesse.

* Reichen Sie im Forum die verwendeten Skripts ein; beschreiben Sie ebenfalls, mit welchen Parametern (und Bildauflösungen) Sie die besten Resultate erhalten.
* Kommentieren Sie die Ansätze Ihrer Mitstudierenden. Machen Sie Vorschläge, denken Sie bei den Arbeiten der anderen mit!

In [0]:
# Import 

import glob, os
import pandas as pd
import numpy as np


csv_files = glob.glob('*.csv')

for files in csv_files:
    ids = (files[:6])
    df_data = pd.DataFrame(pd.read_csv(files, header=None))
    df_data.insert(0,'id', ids)
    df_data.to_csv('corrdata.csv', mode='a', index = False, header = False)

In [15]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler


gitload = 'https://raw.githubusercontent.com/sakuronohana/cas_datenanalyse/master/PVA2/Segment_pics/csvs/corrdata.csv'
picdata = pd.DataFrame(pd.read_csv(gitload, header=None).drop([0,1], axis= 1))

picdata.head()

,2,3,4,5,6,7,8,9,10,11,...,92,93,94,95,96,97,98,99,100,101
0,0,0,0,0,0,0,0,0,1,1,...,1,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,1,1,...,1,0,0,0,0,0,0,0,0,0
2,1,1,0,0,0,0,0,0,1,1,...,0,1,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,1,1,0,0